[2021-05-25 19:28] robingenz opened #32 "feat(authentication): support OAuth 2.0 scopes"
**Is your feature request related to a problem? Please describe.**
Firebase Authentication allows to specify additional OAuth 2.0 scopes. This is currently not possible with this plugin.

**Describe the solution you'd like**
Add support for OAuth 2.0 scopes.

[2021-06-08 17:38] robingenz opened #27 "feat(authentication): password authentication"
**Is your feature request related to a problem? Please describe:**

You can use Firebase Authentication to let your users authenticate with Firebase using their email addresses and passwords ([password-auth](https://firebase.google.com/docs/auth/android/password-auth)). This is currently not possible with this plugin.

**Describe the solution you'd like:**

Add support for password authentication.

[2021-06-27 09:59] robingenz opened #35 "feat(authentication): add Sign-In Anonymously"
**Is your feature request related to a problem? Please describe:**

Sign-In Anonymously is currently not supported.

**Describe the solution you'd like:**

Support Sign-In Anonymously and `linkWith...` methods.

Methods:

- `signInAnonymously`
- `linkWithApple`
- `linkWithGoogle`
- ...

[2021-06-29 16:56] robingenz opened #28 "feat(authentication): add method `updateProfile`"
**Is your feature request related to a problem? Please describe:**

Currently there is no option to update the user's profile.

**Describe the solution you'd like:**

Add method `updateProfile`.

[2021-09-01 20:06] robingenz opened #26 "feat(authentication): implement `signInWithPhoneNumber` for web"
**Is your feature request related to a problem? Please describe:**

`signInWithPhoneNumber` is currently not supported on the web.

**Describe the solution you'd like:**

Add support for `signInWithPhoneNumber`.

[2021-09-19 08:45] robingenz opened #25 "feat: improve error handling"
**Is your feature request related to a problem? Please describe:**

Error messages are currently poorly described and have no unique, uniform error codes.
This complicates cross-platform error handling.

**Describe the solution you'd like:**

The error messages should contain a helpful message and a unique code.

**Describe alternatives you've considered:**

No alternative solutions.

**Additional

[2021-11-05 20:09] braincomb opened #33 "Error: `Unable to process request due to missing initial state.`"

[2021-12-14 10:53] erikwalle opened #37 "bug(authentication): NPR reported by Firebase Crashlytics"
**Plugin version:**
0.3.11
^ Will update to the latest and update if no longer occurring.

**Platform(s):**
Reported on: ASUS_Z012DC

**Current behavior:**
Can't reproduce the bug so far, working from a crashlytics report.

**Other information:**

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void com.getcapacitor.PluginCall.resolve(com.getcapacitor.JSObject)' o

[2022-01-11 20:37] robingenz opened #36 "feat(authentication): Email Link Authentication"
**Is your feature request related to a problem? Please describe:**

[Firebase Email Link Authentication](https://firebase.google.com/docs/auth/web/email-link-auth) is currently not supported.

**Describe the solution you'd like:**

Support Firebase Email Link Authentication.

[2022-01-27 11:23] robingenz opened #34 "feat(authentication): resend sms verification code"
**Is your feature request related to a problem? Please describe:**

Currently it is not possible to request the SMS verification code again.

**Describe the solution you'd like:**

Add an option to resend the sms verification code.

[2022-01-28 17:05] ssibrahimbas opened #30 "feat(authentication): expose `AdditionalUserInfo`"
**Is your feature request related to an issue? Please describe:**

Yeah. In social media entries (Facebook, Google, GooglePlay, Twitter, Apple etc.), the user's id value connected to the provider does not appear. (GoogleId value does not come for login with Google.)

**Describe your desired solution:**

When the user logs in, the user's id value can be added according to the response that the prov

[2022-03-01 10:17] mostafa3ly opened #31 "bug(authentication): Facebook login accessToken is undefined"
**Plugin version:**

@robingenz/capacitor-firebase-authentication ^0.4.1

**Platform(s):**

Android
iOS

**Current behavior:**

Facebook sign in is successfully done when calling `signInWithFacebook()` but the result is an object of `{prodvider: ... , idToken: ...}`
and there is no accessToken returned in the result which is needed to link native layer with JS sdk by calling `signInWithCredintials

[2022-03-12 12:29] robingenz opened #4 "feat: support Firebase Analytics"
**Is your feature request related to a problem? Please describe:**

Firebase Analytics is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Analytics plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-12 12:30] robingenz opened #5 "feat: support Firebase Cloud Messaging"
**Is your feature request related to a problem? Please describe:**

Firebase Cloud Messaging is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Cloud Messaging plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-12 12:30] robingenz opened #6 "feat: support Firebase Crashlytics"
**Is your feature request related to a problem? Please describe:**

Firebase Crashlytics is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Crashlytics plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-12 12:30] robingenz opened #7 "feat: support Firebase Performance Monitoring"
**Is your feature request related to a problem? Please describe:**

Firebase Performance Monitoring is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Performance Monitoring plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-12 12:31] robingenz opened #8 "feat: support Firebase Authentication"
**Is your feature request related to a problem? Please describe:**

Firebase Authentication is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Authentication plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-12 12:33] robingenz opened #9 "feat: support Firebase Remote Config"
**Is your feature request related to a problem? Please describe:**

Firebase Remote Config is not currently supported.

**Describe the solution you'd like:**

Add a Firebase Remote Config plugin.

**Describe alternatives you've considered:**

**Additional context:**

[2022-03-14 20:55] albermejo opened #29 "Problem with a new version of IOS - Illformed requirement $IOS_FIREBASE_POD_VERSION"
# Report

## What did you do?
Run capacitor sync ios" generate a new version of ios `pod install`

## What did you expect to happen?
Install all pod dependencies correctly.

## What happened instead?
Pod installation error

## CocoaPods Environment

ℹ Please replace these two lines with the output of `pod env`.

## Project that demonstrates the issue

[capacitor]
[capacitor]  Command
[capacitor]
[

[2022-03-15 15:54] #7 closed, assigned to nobody

[2022-03-15 17:36] #6 closed, assigned to robingenz

[2022-03-15 21:03] robingenz opened #13 "refactor: unify naming for `isEnabled` and `setEnabled` methods"
Currently the `isEnabled` and `setEnabled` methods are named differently in the plugins. They should have uniform names.

[2022-03-17 16:34] #4 closed, assigned to robingenz

[2022-03-19 21:14] #8 closed, assigned to robingenz

[2022-03-20 22:50] jmondragon opened #24 "bug(authentication): Default FirebaseApp is not initialized"
**Plugin version:**
0.4.3

**Platform(s):**
Android, iOS

**Current behavior:**
After installing the plugin and performing npx cap sync, when trying to run the application in Android Studio it crashes with the following error in the logs:
`Default FirebaseApp is not initialized in this process com.example.myapp. Make sure to call FirebaseApp.initializeApp(Context) first.`

I have been following th

[2022-03-21 11:21] tlebeitsuk opened #19 "feat: support Firebase Local Emulator"
**Is your feature request related to a problem? Please describe:**

[Firebase Local Emulator](https://firebase.google.com/docs/emulator-suite) is not currently supported.

**Describe the solution you'd like:**

iOS

[code]

Android
[code]

[2022-03-22 09:19] robingenz commented on #19
Hi @tlebeitsuk,
Thank you for your request! I will have a look at it!

[2022-03-22 16:56] robingenz opened #20 "bug(analytics): `setCurrentScreen` does not seem to work"
**Plugin(s):**

- `@capacitor-firebase/analytics@0.1.1`

**Platform(s):**

- Android/iOS

**Current behavior:**

The logged screens are not displayed in the Analytics Dashboard.

**Expected behavior:**

The logged screens should be displayed in the Analytics Dashboard.

[2022-03-22 21:47] robingenz commented on #19
Hi @tlebeitsuk,
You can try it out if you want (dev build):
[code]

Docs: https://github.com/robingenz/capacitor-firebase/blob/62d5d5ff067cebf175786dafbc082d3931366668/packages/authentication/README.md#useemulator

[2022-03-23 16:17] HeikoKanzler commented on #9
+1

[2022-03-23 16:18] HeikoKanzler commented on #5
+1

(and thank you for the great work!)

[2022-03-23 21:10] #19 closed

[2022-03-23 21:41] robingenz commented on #24
I have moved this issue to a new repository.

[2022-03-24 00:26] kyleabens opened #38 "feat: add verifyPhoneNumber"
**Is your feature request related to a problem? Please describe:**
I use two-factor authentication in my app and would love it if you could implement [verifyPhoneNumber](https://firebase.google.com/docs/reference/js/v8/firebase.auth.PhoneAuthProvider#verifyphonenumber).  I'm not sure if signInWithPhoneNumber would work in this case (I haven't tried it yet);

**Describe the solution you'd like:**

[2022-03-24 05:25] kyleabens opened #39 "bug: signInWithGoogle() won't fire"
**Plugin(s):**

"@capacitor-firebase/authentication": "^0.1.1"

**Platform(s):**

iOS

**Current behavior:**

`const res = await FirebaseAuthentication.signInWithGoogle();` does nothing when it's ran and no error is logged either.
I have added what needs to be added for iOS unless the documentation is missing something.

**Expected behavior:**

when ran, it should pull up Googles authentication wi

[2022-03-24 21:12] EinfachHans opened #41 "feat: Cloud Firestore"
**Is your feature request related to a problem? Please describe:**

Support Firebase Firestore

**Describe the solution you'd like:**

Currently using this Cordova Plugin: https://github.com/dpa99c/cordova-plugin-firebasex

**Additional context:**

[2022-03-24 21:30] robingenz commented on #39
Seems like a duplicate of https://github.com/robingenz/capacitor-firebase-authentication/discussions/128.

Please check the following:
1. [ ] `npm install @capacitor-firebase/authentication firebase`
2. [ ] `npx cap sync`
3. [ ] Add Firebase to your project if you haven't already: https://firebase.google.com/docs/ios/setup
4. [ ] Verify that this function is included in your app's `AppDelegate.swi

[2022-03-24 21:36] robingenz commented on #38
Hi @kyleabens,
this should already work (see https://github.com/robingenz/capacitor-firebase/tree/main/packages/authentication#signinwithphonenumber).

[code]

Let me know if this is what you are looking for.

[2022-03-24 21:49] kyleabens commented on #38
@robingenz verifyPhoneNumber for multi factor authentication is a little different since it takes a session instead of a phone number.  Would love to see this added as an option.  Should still return a verification ID.  I’ve been trying to piece it together by modifying the plugin but I’m struggling with swift and type casting.  I keep getting an error when I try to use cap.getObject(“session”) be

[2022-03-24 22:11] robingenz commented on #38
Ah okay, i will have a look 👍

[2022-03-25 03:02] kyleabens opened #43 "bug: signInWithApple results in auth/missing-or-invalid-nonce"
**Plugin(s):**

"@capacitor-firebase/authentication": "^0.1.1"

**Platform(s):**

iOS

**Current behavior:**

signInWithApple() returns a credential that when used with OAuthProvider('apple.com').credential() results in `Error auth/missing-or-invalid-nonce`.  I have confirmed that a nonce is passed as well as the idToken.

[code]

**Expected behavior:**

The ability to authenticate via Apple witho

[2022-03-25 03:59] kyleabens commented on #43
Nevermind, I had to set `skipNativeAuth` to true in capacitor config file since I use the javascript sdk to generate the credential and sign in.

[2022-03-25 03:59] #43 closed

[2022-03-25 17:30] dodomui opened #44 "feat: link provider"
How to link provider to existing crendetial?
Thanks

[2022-03-25 17:30] dodomui opened #45 "feat: Firebase 9"
Does it support firebase 9?

[2022-03-25 17:38] robingenz commented on #45
Yes, Firebase 9 ist supported.

[2022-03-25 17:38] #45 closed

[2022-03-25 17:40] robingenz commented on #44
This is not yet supported. I close this as duplicate of #35 .

[2022-03-25 17:40] #44 closed

[2022-03-26 08:53] #20 closed

[2022-03-26 13:16] ptmkenny opened #48 "Documentation: Can analytics be used with Web?"
Thanks for writing this plugin!  I am attempting to migrate my Ionic React app, which uses [capacitor-community/firebase-analytics](https://github.com/capacitor-community/firebase-analytics), but I can't find the `initializeFirebase` function for PWAs.

It doesn't seem to be listed on the [docs page for Analytics](https://github.com/robingenz/capacitor-firebase/blob/main/packages/analytics/README.

[2022-03-26 13:39] robingenz commented on #48
Hi @ptmkenny,
yes, the Analytics plugin supports the web.
You just need to install the SDK and initialize Firebase as descibed here: https://firebase.google.com/docs/web/setup

[code]

[code]

After that you can use the plugin.
I just added this info to the docs.
I may add a wrapper for this step to the `@capacitor-firebase/app` plugin in the future.

Let me know if you have more questions.

[2022-03-26 13:39] #48 closed

[2022-03-27 20:50] m8xp0w3r commented on #27
This feature would be awesome.

[2022-03-29 10:16] AhammadAlisha opened #50 "bug: screenClassOverride value showing incorrect in firebase console"
**Plugin(s):**

"@capacitor-firebase/analytics": "^0.1.1"
"firebase": "^9.6.5",

**Platform(s):**

Android

**Current behavior:**

I'm passing different values for screenName, screenClassOverride in setScreenName method. But in firebase console, i'm seeing firebase_screen_class value as firebase_screen.

**Expected behavior:**

firebase_screen_class should be taken from screenClassOverride

**Step

[2022-03-29 11:56] robingenz commented on #50
Hi @AhammadAlisha,
thank you for your request.
I have just released a new version of `@capacitor-firebase/analytics` with fixes for `setCurrentScreen`:

[code]

Please let me know if your issue persists.

[2022-03-29 12:19] Sampath-Lokuge opened #51 "bug: ERROR Error: Uncaught (in promise): Error: 10 : Google Sign In - Android device"
Hi,

I have followed your demo app and done all the configurations as per your docs. When I push the app to a Native Android device using this CLI it shows the below error on the console. It opens the Sign In popup and I have selected my Gmail a/C there. After that below error. Any clue, please.

`ionic cap run android -l --host=0.0.0.0`

I have tried with Android studio too. But the same error:

[2022-03-29 12:25] robingenz commented on #51
Hi @Sampath-Lokuge,
i close this as duplicate of https://github.com/robingenz/capacitor-firebase-authentication-demo/issues/164.
Please have a look at this comment: https://github.com/robingenz/capacitor-firebase-authentication-demo/issues/164#issuecomment-1081776082

[2022-03-29 12:25] #51 closed

[2022-03-29 12:58] Sampath-Lokuge commented on #51
Yes, my issue was the SHA1 key.

When I use this `keytool -list -v -alias androiddebugkey -keystore %USERPROFILE%\.android\debug.keystore`

It always generates the same SHA1 key for any project. So I have realized that was the issue here. After that, I have used Android Studio for generating SHA1 key like so: https://stackoverflow.com/a/67866731/1077309

After that, I deleted the old one on the Fi

[2022-03-29 13:55] AhammadAlisha commented on #50
Hi @robingenz  thanks for the response.

issue still persists with @0.2.0

[2022-03-29 18:59] robingenz commented on #50
Okay, found the issue.
Will be fixed in the next version.
I already released a dev version:

[code]

[2022-03-29 19:22] #50 closed

[2022-03-30 10:46] aliexalter commented on #32
@robingenz

I would like to get oAuth access token to call REST photo library API. The plugin does not return credential.accessToken it only return credential.providerID, credential.idToken. I want to use oAuth access Token.

From web implementation of firebase both signInWithPopup and signInWithRedirect return access token.

[2022-03-30 10:51] robingenz commented on #32
@aliexalter Please create a new issue and share some more information (like the selected authentication method).

[2022-03-30 11:02] aliexalter opened #54 "feat: SignInWithGoogle AuthCredential accessToken undefined"
I am using

FirebaseAuthentication.signInWithGoogle()

Which return both **User** and **AuthCredential**. Under AuthCredential I am not getting oAuth access token. I am only getting providerId and idToken.

I would like to use oAuth access token to call REST API of google photo library (https://photoslibrary.googleapis.com/v1/albums). But When I console.log  SignInResult.AuthCredential.accessToken

[2022-03-30 11:13] robingenz commented on #54
Hi @aliexalter,
thank you for your request. I will have a look at it. I think it should be possible to return the access token.

The provider is chosen with the method you use for sign in (e.g. `signInWithGoogle`, `signInWithFacebook`, etc.).

[2022-03-30 13:37] robingenz commented on #54
Do you also need it on Android? On Android, unfortunately, the access token is not provided and I would have to expose a server auth token instead, which you would have to swap server-side for a google access token.

[2022-03-30 13:48] aliexalter commented on #24
On Android I am having same issue.
Minimum to reproduce this error is
[code]
After that open android studio bumble bee run the app on device via USB.
The following error will show up

[code]

[2022-03-30 13:53] robingenz commented on #24
Here are missing important setup steps described in: https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/README.md#installation.

Please follow the steps exactly and try again. Make sure that you have added the google-service.json file.

[2022-03-30 14:16] robingenz commented on #54
@aliexalter Feel free to test the new dev version and let me know if it works:

[code]

[2022-03-30 14:17] robingenz commented on #31
Feel free to test the new dev version and let me know if it works:

[code]

[2022-03-31 03:53] Sampath-Lokuge opened #56 "bug: authStateChange doesn't fire on Log Out and open the app from App Killed use cases"
Hi,

I can see an issue with your demo app. The below method doesn't fire on `Log out` and open the app from `App Kill` use cases. Any clue? Thanks!

I have used it like so:

`firebase-authentication.service.ts`

[code]

_app. componnet.ts_

[code]

It works only when the `Login` use case. I have used `AngularFire` on many applications and below works on all the above use cases. So we would like t

[2022-03-31 07:48] robingenz commented on #56
Hi @Sampath-Lokuge,
what do you mean by `and open the app from App Kill use cases` exactly?
I just tested my demo app and everything worked for me. `authStateChange` fired on logout. But I did not have your changes.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

[2022-03-31 08:13] robingenz commented on #54
Fixed. Should work now:

[code]

[2022-03-31 11:26] Sampath-Lokuge commented on #56
Hi @robingenz

Yes, I have tested it on a Native device/Native app on Android.

Steps:

1. Logged in using G+
2. After that killed the app and open it again. But at that time too didn't fire the `authStateChange` event.

Since `authStateChange` is a listener it must fire with my workflow too no? Or do I need to put that code only on the constructor of the `FirebaseAuthentication` service? Please l

[2022-03-31 13:12] robingenz commented on #56
You have to set up your listener in the constructor to ensure that the listener is ready before the first event is fired.
I also do this in my demo app.

[2022-03-31 13:21] Sampath-Lokuge commented on #56
I have done the same thing but outside the constructor. Because on App Killed use case there will not have any Service available until it has been instantiated. So that is why I have put it under the `setFirebaseAuthStateChange()` and called it within the `initializeApp()` method on the `app. componnet.ts` file. Your thoughts?

[2022-03-31 13:52] robingenz commented on #56
What do you mean by this exactly? I do not really understand your use case.

[2022-03-31 13:58] Sampath-Lokuge commented on #56
Please see this: https://youtu.be/oTkLCESOxZc?t=37

This is the thing where I have done here too.

[2022-03-31 14:31] robingenz commented on #56
Okay, but what does exiting the app have to do with the constructor/NgOnInit? That is independent of where you initialize the listener.

[2022-03-31 14:36] Sampath-Lokuge commented on #56
Yes, that is the issue here too. If I kill the app then above listener no more? But as I mentioned on `AngularFire` where I have followed the same pattern and it detects the App open from the Kill/Exit use case. But here it is not? Any reason for that?

[2022-03-31 15:15] aliexalter commented on #54
Thanks it's working great on iOS.

[2022-03-31 21:07] robingenz opened #57 "bug: `accessToken` is returned as `idToken`"
**Plugin(s):**

- `@capacitor-firebase/authentication`

**Platform(s):**

- Android
- iOS

**Current behavior:**

Facebook access token is returned as `idToken` (see https://github.com/robingenz/capacitor-firebase/blob/66b54eef2f1b13c9527ced66e52a012d763da99d/packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/handlers/FacebookAuthProviderHandler

[2022-04-01 01:38] Sampath-Lokuge commented on #56
I do not use Firebase JS SDK since this is a native-only app. I'll provide you sample app to reproduce this soon. Thanks!

[2022-04-01 09:47] aliexalter commented on #54
I only tested on iOS.
On android I don't need access token to get google API as we already on google platform so we use sharing and camera plugin to access google drive and photos.

[2022-04-02 09:51] #31 closed

[2022-04-02 09:51] #54 closed

[2022-04-02 10:22] #57 closed

[2022-04-03 13:40] mesqueeb commented on #5
+1 ! currently I can't get push notifications on Android because of this issue for the `fcm` plugin:
https://github.com/capacitor-community/fcm/issues/99

so official support for FCM on `capacitor-firebase` would be really awesome!

[2022-04-03 18:43] mesqueeb opened #60 "bug: app crashes `java.lang.ClassNotFoundException: Didn't find class "com.google.android.gms.auth.api.signin.GoogleSignIn"`"
**Plugin(s):**

- `"@robingenz/capacitor-firebase-authentication": "^0.4.0",`

I should upgrade to this, but haven't done yet. However, since today, not sure what went wrong, but I cannot launch on android anymore.

I found this error log:

[code]

**Platform(s):**

- android only

**Current behavior:**

- the app crashes right after launch. don't even see splash

**Capacitor doctor:**

[code]

[2022-04-04 03:01] mesqueeb commented on #60
another computer & android gave me this:
[code]
<img width="1144" alt="image" src="https://user-images.githubusercontent.com/3253920/161466908-995fe283-63d1-42a4-a897-4dda530d1515.png">

[2022-04-04 03:21] mesqueeb commented on #60
upgraded to latest versions.
figured out this was missing:

<img width="999" alt="image" src="https://user-images.githubusercontent.com/3253920/161468545-0dec09be-afe3-4211-ac90-884f8ba9b796.png">

[2022-04-04 03:21] #60 closed

[2022-04-04 14:02] MeirBen opened #61 "self authentication on android"
Hi
I had a problem with Android.
As soon as the SMS reaches the device, it performs native authentication behind the scenes,
And afterwards I can't authenticate to web layer JS SDK, because the OTP expired.
Is there a way to proceed with web authentication?

Thank you

[2022-04-04 15:52] robingenz commented on #61
Hi @MeirBen,
thank you for your request!
From the Firebase docs:
[code]

I have also found the following issue: https://github.com/firebase/quickstart-android/issues/296
It says that there are currently no plans to disable instant verification. I have not found any information about auto-retrieval either.
I guess there is nothing you can do about that unfortunately.
For this reason I close this is

[2022-04-04 15:52] #61 closed

[2022-04-04 19:06] MeirBen commented on #61
Thank you for quick response!

I did notice now that is possible when setting the skipNativeAuth to true, it skip the auto-retrieval , and SignInWithCredentials for web layer works with manual verification code.
(I don't know if is also valid for instant verification though).

Is this the purpose of skipNativeAuth?

[2022-04-04 19:17] robingenz commented on #61
Oh, yes, the purpose of `skipNativeAuth` is to be able to use the Firebase JS SDK. I should have asked you if you had set that, sorry. I am glad that it works now. 🎉

[2022-04-05 14:16] justinpathrose opened #62 "bug: Analytics - Error building iOS App"
**Plugin(s):**

@capacitor-firebase/analytics
version: 0.2.1

**Platform(s):**
iOS

**Current behavior:**
During the iOS App build process, we are getting this error ```No such module 'FirebaseCore'``` from FirebaseAnalytics.swift

**Expected behavior:**
iOS builds without error

**Steps to reproduce:**

Created a sample ionic react project with analytics plugin as a dependency. This can be viewed

[2022-04-05 21:08] justinpathrose commented on #62
Hi @robingenz,

Thanks for your time.
Sorry, I had completely missed this change. This works for me now.

Thanks again. I am closing this now.

[2022-04-05 21:08] #62 closed

[2022-04-05 23:22] lincolnthree commented on #39
Same issue here. Have taken all steps as documented but Facebook and Google both do nothing. I just see this in XCode Console.

[code]

I am migrating from capacitor-firebase-auth, which was configured and working. Trying to figure out what I have missed, if anything. Will report back if I can find more info.

[2022-04-05 23:31] lincolnthree commented on #39
Okay, so I have figured one thing out.

Running `npx cap update` removes the following lines from the Podfile if you put them in the wrong place:

[code]

These must be put in the `target 'App' do` section, as documented, but it's easy to miss that. Fixing this resolved my issue.

[2022-04-06 10:54] Sampath-Lokuge opened #63 "feat: Cloud Storage for Firebase"
Hi,

Any reason for not having `Cloud Storage for Firebase` on this plugin? Thanks!

`Doc:` https://firebase.google.com/docs/storage

[2022-04-06 11:22] robingenz commented on #63
Hi @Sampath-Lokuge,
I haven't had time to implement it yet. But this plugin is definitely in planning.
So the reason is lack of time.

[2022-04-06 22:28] lincolnthree opened #64 "bug: Calling FirebaseAuthentication.getIdToken() before auth'd causes fatal error & app crashes"
**Plugin(s):**

authentication 0.21

**Platform(s):**

Android

**Current behavior:**

call `FirebaseAuthentication.getIdToken()` from the JS client before an ID token exists in the Native cache.

[code]

**Expected behavior:**

Don't crash :) Just return null.

**Steps to reproduce:**

1. Install a fresh build of an app.
2. Don't authenticate.
3. Call `FirebaseAuthentication.getIdToken()`

**Rela

[2022-04-07 06:14] robingenz commented on #64
Hey @lincolnthree,
you are right, it should return null.

You can use the following as temporary workaround:

[code]

[2022-04-07 09:27] lucasschulte opened #65 "bug: no accessToken"
**Plugin(s):**
authentication 0.2.1

**Platform(s):**
Android/iOS

**Current behavior:**
Can not get the accessToken with Google Login on Android and
can not get the accessToken with Microsoft Login on iOS.

Did not test the other methods at the moment.

**Expected behavior:**
Get the accessToken with all login methods and on every platform

**Steps to reproduce:**
Just use the plugin. Everyone in

[2022-04-07 11:13] jongbonga commented on #62
Hi @robingenz

Every time I do `cap sync` the pod update revert to `CapacitorFirebaseAnalytics`

[2022-04-07 11:19] robingenz commented on #62
@jongbonga In that case you add the line in the wrong place.

[code]

See https://github.com/robingenz/capacitor-firebase-plugin-demo/blob/d3237b0a3e4cc6a3fdd47f09d6b43c0057c61f18/ios/App/Podfile#L25

[2022-04-07 12:02] jongbonga commented on #62
True... thanks

[2022-04-07 13:53] lincolnthree commented on #64
Excellent. Thanks for confirming. That's the workaround I ended up with as well :) PS. Thanks for this fantastic library. A bit more complex to set up than previous alternatives, but VERY nicely done.

[2022-04-07 14:16] robingenz commented on #64
@lincolnthree Thank you for these kind words. If you have any ideas on how to make the setup easier, feel free to let me know. I am always happy about ideas and tips. (best in a new issue, a discussion or by mail)

[2022-04-07 21:14] hathemi opened #66 "com.google.firebase.auth.FirebaseAuthInvalidCredentialsException: The sms code has expired. Please re-send the verification code to try again."
the problem is This authentication happens in the background while the user still receives the verification code in an SMS. When the user tries to enter the verification code, i gets message that the verification code expired

[code]
how can i avoid receiving the verification code expiry message, and how can  i set up a listener for " authentication changes ." in vuejs??

please help!

[2022-04-07 21:53] robingenz commented on #66
Hi @hathemi,

Please have a look at https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/README.md#addlistenerauthstatechange-

[code]

[2022-04-07 22:35] hathemi commented on #66
thanks for reply! i will try it
BUT, now i need to put the code received manually and compered it to  the verificationId when i click to button!
is it possible to do that ?

[2022-04-08 11:22] hathemi commented on #66
this only executed when i put the received code and call
**await FirebaseAuthentication.signInWithPhoneNumber({    verificationId,    verificationCode,})**!!
[code]

is it posiible to disablle [SmsRetrieverHelper]!

[2022-04-08 15:35] robingenz commented on #66
It fires every time a user's sign-in state changes.

[2022-04-08 22:09] hathemi commented on #66
yes you're right! my fault
is there a way to disable **PhoneAuthProvider: Sms auto retrieval** ?

[2022-04-09 07:52] robingenz commented on #66
Apparently yes. Another user had success by setting `skipNativeAuth` config option to false. He is using the Firebase JS SDK.
See https://github.com/robingenz/capacitor-firebase/issues/61#issuecomment-1087911228.

[2022-04-09 11:46] sclawer opened #67 "bug: Basic config not returning token to app"
**Plugin(s):**

This is an Ionic-Capacitor app using Vue3 and Firebase Auth (only google)

**Platform(s):**

IOS specifically

**Current behavior:**

When deploying app and attempting login, the Native popup allows login, but the logfile shows the token being passed into the JS but the app is not updated as is expected

![IonicError](https://user-images.githubusercontent.com/40841372/162572662-dd0

[2022-04-09 12:00] robingenz commented on #67
Hi @sclawer,
please use the [`addListener('authStateChange', ...)`](https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/README.md#addlistenerauthstatechange-) method to listen for the user's sign-in state changes.
(see https://github.com/sclawer/MobileApp/blob/96e5dec3833d5c4af55b32e41ca3879316d83283/src/views/HomePage.vue#L85).
Please also have a look at https://gith

[2022-04-09 12:00] #67 closed

[2022-04-10 21:37] sclawer commented on #67
It would be great if you had an example of the addListener in your demo app as a sample :)

[2022-04-12 11:46] travisBradfield commented on #64
Hello, this was very helpful. I'm a bit confused though. When does the _currentUser_ get set? I'm doing a firebase login with email, then doing the firebase verify email. To check if the email has been verified i call the `await FirebaseAuthentication.getIdToken()`. I was then running into the same error as @lincolnthree . I've resolved it based on your recommendation. However, now when I call the

[2022-04-13 12:04] robingenz commented on #64
`currentUser` is set as soon as a user logs in via one of the signIn methods of the plugin. Since the plugin does not yet support password authentication (see #27), I assume you are using the Firebase JS SDK directly. If that is the case, then you are only logging the user in on the web layer and not on the native layer. This results in the currentUser not being set on native devices, as the plugi

[2022-04-14 00:18] #29 closed

[2022-04-17 08:41] sclawer opened #68 "bug: Getting addListener to fire"
**Plugin(s):**
Capacitor Firebase Authentication

**Platform(s):**
IOS fails but web works fine

**Current behavior:**
When I use this plugin and console log results, the web version works fine.
When I attempt to use the similar logging for Native Platform (Confirming that the Native code is working) trying the addListener command in several locations (see Github Repo) on the IOS logging does not

[2022-04-17 09:07] robingenz commented on #68
Hi @sclawer,
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) in a public GitHub repository so that the issue is also transparent for others and might be helpful in the future.
Often, when creating a Minimal, Reproducible Example, you already find the problem (this often happens to me).

[2022-04-18 09:38] mesqueeb opened #70 "bug: Error: There was an error while trying to get your package certificate hash"
**Plugin(s):**

[code]

**Platform(s):**

android

**Current behavior:**

I have been using Twitter Auth on Android via `"skipNativeAuth": true,`
I had temporarily disabled this today: `"skipNativeAuth": false,` and it broke some signin methods.
So I had re-enabled it again.

Ever since then I cannot use twitter auth on android any more:

    at Object.cap.fromNative (VM3:411:32)
    at <anonymous

[2022-04-18 09:49] mesqueeb commented on #70
I realise that this is probably not related to this plugin, but I'm not sure what suddenly went wrong with the configuration of my app.

This is what happens on phone auth:

<img width="799" alt="image" src="https://user-images.githubusercontent.com/3253920/163790799-aa6df66d-2d1a-41af-b252-12052fb36082.png">

and google auth:
<img width="414" alt="image" src="https://user-images.githubusercontent

[2022-04-18 23:53] sclawer commented on #68
Hi @robingenz
I have updated the github project public and have re-tested against a new account and FB project.
Reproduced basic Google Login path - works fine with Web (using your package not standard FireBase packages) but on IOS does not seem to return data or fire the addListener logging

[2022-04-19 06:57] robingenz commented on #68
You have to call `FirebaseAuthentication.addListener("authStateChange", ...)` before you call the `signIn` Method.
So this wont work:
[code]

Does an error appear in Safari DevTools?
Does a native error appear in the XCode logs?

[2022-04-19 07:06] robingenz commented on #70
Hi @mesqueeb,
I'm doing my best to help you, these errors are annoying. 😄
This seems like a duplicate of https://github.com/robingenz/capacitor-firebase-authentication/issues/97.

I believe you. Please check it a third time.

You have only one `google-services.json` file or? And it has the correct values?

[2022-04-19 07:21] sclawer commented on #68
As you can see, The listener is invoked at the start "FirebaseAuthentiaction addListener"
then when the callback comes from the FirebaseAuthentiacation.signInWithGoogle() the listener is not fired on IOS

------------
`
⚡️  Loading app at capacitor://localhost...
⚡️  To Native ->  FirebaseAuthentication addListener 96614297
⚡️  WebView loaded
⚡️  To Native ->  App addListener 96614298
2022-04-19 1

[2022-04-19 07:29] sclawer commented on #68
For comparison - the Chrome view does fire the listener and invokes the logging contained within the listener
<img width="492" alt="Chrome-Webmode-logging" src="https://user-images.githubusercontent.com/40841372/163949162-806a3def-9455-4b2e-a2eb-1bd040619dbb.png">

[2022-04-20 07:38] sclawer commented on #68
Summarised code here:
`
import { isPlatform } from "@ionic/vue";
import { initializeApp } from "firebase/app";
const firebaseConfig = {
  apiKey: "{{APIKey_here}}",
  authDomain: "{{AuthDomainHere}}",
  projectId: "{{ProjectIDHere}}",
};
initializeApp(firebaseConfig);
import { FirebaseAuthentication } from "@capacitor-firebase/authentication";
FirebaseAuthentication.addListener("authStateChange",

[2022-04-20 08:49] robingenz commented on #68
Have you ever registered the listener in another place? For example directly before the signIn call?

[code]

[2022-04-20 22:45] sclawer commented on #68
Hi @robingenz
I have tested in that location without change.
I am struggling to understand that if the listener is being invoked first up (as shown by the xCode Logs) it is not returning a value when the auth is being passed back to the capacitor app?
This is confirmed by the web version, as it is being invoked first up as well (same code used) and at that time returning the auth object (logged in

[2022-04-20 23:10] sclawer commented on #68
Have done this - have made some progress...

Code as below:
``
import { isPlatform } from "@ionic/vue";
import { initializeApp } from "firebase/app";
import {
  getAuth,
  GoogleAuthProvider,
  signInWithCredential,
} from "firebase/auth";
const firebaseConfig = {
  apiKey: "{{APIKey_here}}",
  authDomain: "{{AuthDomainHere}}",
  projectId: "{{ProjectIDHere}}",
};
initializeApp(firebaseConfig);
im

[2022-04-21 14:31] robingenz commented on #68
I will fix that.

`getIdToken` returns https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/README.md#getidtokenresult.
It contains the Firebase Auth ID token JWT string. You have to decode the JWT to get the payload (see this [SO](https://stackoverflow.com/questions/38552003/how-to-decode-jwt-token-in-javascript-without-using-a-library) for example). This is not in th

[2022-04-21 14:36] robingenz commented on #68
You can give it a try:
[code]

[2022-04-21 22:48] sclawer commented on #68
Hi @robingenz
I have tested the updated package and find that it is now clearing the listener.
Please release to main at your discretion

good hint on the SO example as I am now able to move forward
FYI might be worth looking into the first initation of the Listener/auth change - my workaround is to run a FirebaseAuthentication.getCurrentUser as soon as I call the addListener

[2022-04-22 14:25] robingenz commented on #68
So you still have problems with the listener? The original problem is not solved?

[2022-04-23 04:14] mesqueeb commented on #70
@robingenz thank you for the reply!!
I ended up doing these checks and finding the cause:
- double check my 2 related firebase apps > settings > android app > look at the SHA-1 and SHA-256 that were registered
- for both related projects make sure that **all** these keys were registered:
  - both **SHA-1** and **SHA-256** keys of my android keystore for uploading
  - both **SHA-1** and **SHA-256**

[2022-04-23 04:14] #70 closed

[2022-04-23 06:42] Sampath-Lokuge opened #74 "bug: The supplied auth credential is malformed or has expired."
Hi,

I use [this Capacitor plugin](https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/docs/setup-microsoft.md) to Auth with MS. But no luck yet.

I have followed [this doc](https://firebase.google.com/docs/auth/android/microsoft-oauth#before_you_begin) and configured it all well.

But can you tell me where to set this up?

Error

`The supplied auth credential is malf

[2022-04-23 07:21] robingenz commented on #74
Hi @Sampath-Lokuge,
you need to register a Microsoft OAuth client in Azure Portal:
![grafik](https://user-images.githubusercontent.com/13857929/164884602-c79485a7-00ff-4a50-8747-6092d30c9188.png)

There you need to provide the redirection URL that will be given to you in the Firebase Console.
![grafik](https://user-images.githubusercontent.com/13857929/164884560-a73816cb-afeb-4f0b-94d7-ab6d91af14b

[2022-04-23 07:29] robingenz commented on #74
![grafik](https://user-images.githubusercontent.com/13857929/164884897-91c8117f-785a-4613-8e83-72a55b2bd399.png)

Let me know if the error message still appears.

[2022-04-23 07:29] Sampath-Lokuge commented on #74
Hi @robingenz

Yes, may I know where to give `https://my-app-12we34.firebaseapp.com/__/auth/handler` on the Azure portal? Thanks!

[2022-04-23 07:30] robingenz commented on #74
See my [last comment](https://github.com/robingenz/capacitor-firebase/issues/74#issuecomment-1107412026) (just added 😄 )

[2022-04-23 07:51] Sampath-Lokuge commented on #74
Hi @robingenz

Ok sure. All are working fine now.

I have realized that this is happening through the Web after your images. i.e. not through the Native layer. But I have spent over 4 H doing that through Native layer configurations on the Azure portal. So It would be great if you'll put this bug/clarification issue link under [here](https://github.com/robingenz/capacitor-firebase/blob/main/packag

[2022-04-23 07:51] #74 closed

[2022-04-23 08:35] robingenz commented on #74
Great! Good hint, I'll do that. 👍

[2022-04-23 14:13] Sampath-Lokuge commented on #74
Ok sure. Great!

[2022-04-27 14:28] colin-om opened #75 "bug: String parameters in 'logEvent' are sent as 'String' instead of the parameter value"
**Plugin(s):**
"@capacitor-firebase/analytics": "^0.2.1",

**Platform(s):**
Android

**Current behavior:**
Any string parameter passed through to FirebaseAnalytics.logEvent() is being logged with the value 'String'.

**Expected behavior:**
The value displayed in the console should match the value passed through to FirebaseAnalytics.logEvent()

**Steps to reproduce:**
Pass a parameter with a string

[2022-04-27 15:10] robingenz commented on #75
Hey @colin-om,
thank you for your request!
I created a fix:
[code]
Can you give it a try?

[2022-04-27 16:46] robingenz commented on #75
Great, thank you for your help! I will publish the fix soon.

[2022-04-27 20:42] robingenz commented on #27
The first dev version is ready. It would be great if someone could support me with testing.
I am happy about any feedback!

[code]

[2022-04-27 21:46] robingenz commented on #27
Here you can find the new methods: https://github.com/robingenz/capacitor-firebase/blob/9266910503d371b3e6b5f65a681730bdacc3c5df/packages/authentication/README.md#api

[2022-04-29 20:12] solher commented on #68
I may be experiencing the same issue with React. Everything working on web but when running in the iOS simulator, it seems like `authStateChange` is never fired. Not sure what I'm doing wrong:

[code]

[2022-04-29 20:19] robingenz commented on #68
I don't have any experience with React but are you sure that `removeAllListeners` is not called too early?

I have not been able to reproduce the problem so far.

[2022-04-30 00:20] #24 closed

[2022-04-30 09:58] solher commented on #68
I've been trying everything for days now, I don't understand what I'm doing wrong. My problem may be deeper because when testing with the Twitter login, it is not returning credentials. I do:

[code]

The pop up comes up, the Twitter login itself works, and then it prints:

[code]

[2022-04-30 10:02] robingenz commented on #68
Strange, this is not even valid JSON.

@solher Please create a new issue and provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

[2022-05-02 00:16] #56 closed

[2022-05-02 18:02] sattasundar opened #78 "bug: java.lang.UnsupportedClassVersionError"
**Plugin(s):**

"@capacitor-firebase/performance": "^0.2.1"
"firebase": "^9.6.11"
"@angular/core": "^13.1.0"
"@capacitor/core": "^3.4.0"
"@ionic/angular": "^6.0.0"

**Platform(s):**

Android

**Current behavior:**

While building android project getting below build error;
_A problem occurred evaluating project ':app'._

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

**build.gr

[2022-05-02 18:15] robingenz commented on #78
Hi @sattasundar,
please make sure that you are using Java 11 when you build your Android project.

[2022-05-02 18:25] tlebeitsuk commented on #9
+1

[2022-05-02 20:59] tlebeitsuk commented on #63
+1

[2022-05-04 20:41] robingenz commented on #5
The first dev version is ready. 🎉  It would be great if someone could support me with testing.
I am happy about any feedback!

[code]

[2022-05-04 23:41] mesqueeb commented on #5
Does the plugin work completely standalone or do we also need `@capacitor/push-notifications` installed as peer dependency?

[2022-05-05 06:12] robingenz commented on #5
completely standalone 👌

[2022-05-05 06:59] robingenz commented on #5
To be more precise: You don't need the `@capacitor/push-notifications` plugin, but you can still use it in combination.

[2022-05-05 14:53] #5 closed

[2022-05-05 14:54] #27 closed

[2022-05-05 15:18] #64 closed

[2022-05-05 15:19] robingenz commented on #37
I am closing this issue as there is nothing new. However, I continue to keep an eye on it.

[2022-05-05 15:19] #37 closed

[2022-05-06 00:17] #39 closed

[2022-05-10 00:18] #66 closed

[2022-05-10 08:13] hathemi commented on #66
https://github.com/robingenz/capacitor-firebase/issues/61#issuecomment-1087911228.
following this link does the job.

[2022-05-11 11:59] zawmn opened #82 "bug: Failed resolution of: Lcom/facebook/CallbackManager"
**Plugin(s):**

"@capacitor-firebase/authentication": "^0.2.2",
"firebase": "^9.8.1",

**Platform(s):**

Android, ionic, angular

**Current behavior:**

I'm using the authentication plugin only for FirebaseAuthentication.signInWithPhoneNumber.
I also only choose phone in providers in capacitor.config.json
"FirebaseAuthentication": {
			"skipNativeAuth": false,
			"providers": ["phone"]
		},
My cod

[2022-05-11 13:40] robingenz commented on #82
Hi @zawmn,
thank you for your request.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

[2022-05-12 12:11] zawmn commented on #82
Hello

This is my fault.  I didn't read the the example code well.

Previously I added below code only in capacitor.config.json.
  plugins: {
    FirebaseAuthentication: {
      skipNativeAuth: false,
      providers: ["phone"],
    },
  },

When I added this code also in capacitor.config.ts, the error is gone.

Thanks

[2022-05-12 12:11] #82 closed

[2022-05-13 12:29] robingenz opened #83 "bug: wrong typescript definitions"
**Plugin(s):**

- `"@capacitor-firebase/messaging": "0.2.2"`

Wrong types:
[code]

[2022-05-13 12:48] sattasundar commented on #78
Yeah, able to build now.

Thanks!

[2022-05-13 13:59] jpsunb commented on #65
@robingenz, hi, love your work. But I can't get Google authentication to work on the server side for Firebase on Android and iOS, but works on web. The email login works on all platforms. On the app it looks like the user is authenticated but when requests that requires authentication are denied. Tried last version v0.2.2.

My test, see below, is to make a function call and return the UID from the

[2022-05-13 19:58] #78 closed

[2022-05-13 20:01] robingenz commented on #65
That is another problem. I guess you sign in the user only on the native layer and not on the web layer (see [firebase-js-sdk.md](https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md)). Please create a new issue if the problem persists

[2022-05-14 10:28] jpsunb commented on #65
@robingenz, thanks! You were right. The problem was solved by adding `await signInWithCredential(auth, credential);`.

[2022-05-15 09:53] #83 closed

[2022-05-16 10:11] robingenz opened #87 "bug(messaging): `getToken` should trigger `tokenReceived`"
**Plugin(s):**

- `@capacitor-firebase/messaging@0.2.2`

**Platform(s):**

- Android

**Current behavior:**

`getToken` does not trigger `tokenReceived`.

**Expected behavior:**

`getToken` should trigger `tokenReceived`.

[2022-05-16 15:11] robingenz opened #88 "bug(messaging): cannot receive background notifications on iOS"
**Plugin(s):**

- `@capacitor-firebase/messaging@0.2.2`

**Platform(s):**

- iOS

**Current behavior:**

cannot receive background notifications on iOS

**Expected behavior:**

Receive background notifications on iOS

[2022-05-16 18:47] #88 closed

[2022-05-17 15:09] robingenz commented on #68
@JuliusJacobitz Your problem should be another one. Please have a look at this two comments: https://github.com/robingenz/capacitor-firebase-authentication/issues/78#issuecomment-924055336 and https://github.com/robingenz/capacitor-firebase/issues/39#issuecomment-1078402815.
If this does not help you, please create a new issue.

[2022-05-17 15:52] JuliusJacobitz opened #91 "Question: Firestore"
A little general question, but I cant get my head around it:

I am developing an ionic-vue ios and web app. I was able setup the authentication flow. Now I want to read data from the firestore. But I could not get it to work on ios. Calling `getDoc(doc(docRef,"docID"))` nothing happens on ios. It works on web tho.

Similar to [this](https://github.com/robingenz/capacitor-firebase-authentication/is

[2022-05-17 16:45] robingenz commented on #91
Hi @JuliusJacobitz,
Unfortunately I can't help you there, because I haven't gained much experience with Firestore in combination with Capacitor.
I may know more as soon as I get to this issue: https://github.com/robingenz/capacitor-firebase/issues/41

[2022-05-17 16:45] #91 closed

[2022-05-18 06:23] zawmn opened #93 "feat: Android background auto authentication signInWithPhoneNumber"
**Is your feature request related to a problem? Please describe:**
I'm trying to use signInWithPhoneNumber and then call signInWithCredential to sign-in on the web layer of Firebase JS SDK.

It is working well in iOS.   In Android, it also working if the Phone number trying to login is not in the testing handset.
If the Phone number is in the testing handset, signInWithCredential got auth/code-exp

[2022-05-18 08:12] robingenz commented on #93
This looks like a duplicate of #66.

[2022-05-20 08:39] 67pankaj commented on #34
@robingenz any update on resend sms implementation

[2022-05-20 09:30] robingenz commented on #34
Not yet, I will work on it as soon as I have some more time. PRs are welcome.

[2022-05-21 07:43] robingenz opened #94 "feat(messaging): notification channels"
**Is your feature request related to a problem? Please describe:**

Android Notification channels are currently not supported.

**Describe the solution you'd like:**

See https://developer.android.com/guide/topics/ui/notifiers/notifications#ManageChannels.

**Describe alternatives you've considered:**

**Additional context:**

[2022-05-21 15:36] #32 closed

[2022-05-23 22:54] typefox09 commented on #30
Is there any update on this feature?

This has become a problem for Apple login now as Apple is refusing apps that don't make use of the fullName data they provide to us, to pre-fill in user fields.

Issue is that Apple doesn't return the users name in the idToken, instead it's available through the appleIDCredential.fullName field (only given the first time the user authorises your app).

If we c

[2022-05-24 03:21] elliott44k commented on #34
Any info on what needs to be done for this? I'm happy to start contributing to the library since I'll be using it.

[2022-05-24 06:58] robingenz commented on #30
@ssibrahimbas currently working on that (see #81).

However, you should already have access to the name of the user (see `displayName` in https://github.com/robingenz/capacitor-firebase/tree/main/packages/authentication#user).

[2022-05-26 05:49] typefox09 commented on #30
displayName doesn't come through as we are skipping native auth (you have to for Apple sign in anyway).  As per the Github issue I mentioned, Firebase is not saving the displayName for us either.

[2022-05-26 07:26] robingenz commented on #30
What du you mean exactly? You do not have to set `skipNativeAuth` to `true` to use Apple Sign-In.

[2022-05-26 09:06] robingenz commented on #30
Okay, now I understand the problem. I prioritize the issue.

[2022-05-26 17:38] agustinhaller opened #99 "bug: Twitter auth provider cannot transition from native auth to Firebase JS SDK auth"
**Plugin(s):**
`@capacitor-firebase/authentication@0.3.0`

**Platform(s):**
iOS

**Current behavior:**
Twitter Auth Provider cannot transition from native auth to Firebase JS SDK auth.
The `FirebaseAuthentication.signInWithTwitter()` method returns no `result.credential.accessToken` nor `result.credential.secret` (both `undefined`). Thus I'm unable to get the `OAuthCredential` using `const nativeC

[2022-05-26 21:51] robingenz commented on #99
Thank you for your request. I will have a look at it next week.

[2022-05-29 06:09] bojanbizjak commented on #63
+1

[2022-05-30 11:54] davidecampello commented on #35
Hi! Are you planning to implement this features?
Thanks

[2022-06-01 13:24] robingenz commented on #35
Yes, it's planned

[2022-06-02 02:12] agustinhaller commented on #99
@robingenz thank you so much for taking the time to look at this 🙏

[2022-06-02 02:33] mesqueeb opened #100 "feat: Capture and log crash of WebView to Firebase Crashlytics"
We did extensive research on how to capture the fact that the webview crashes, which happens often for us.
We might have 1 or a couple of memory leaks...?

But Firebase crashlytics didn't catch webview crashes for us, and the actual app itself never crashed.

closest thing we found to catching a webview crash:
https://github.com/ionic-team/capacitor/issues/2379

Reading this thread, I assume we'll

[2022-06-02 06:28] robingenz commented on #100
@mesqueeb That's correct, Firebase can only capture app crashes, not webview crashes/reloads.

Interesting idea. I will have a look at that. But I won't get to it for a few weeks.

[2022-06-07 12:55] RRGT19 opened #102 "bug: FirebasePerformance was resolved to 0.3.0, which depends on x.xx.x"
**Plugin(s):**
"@capacitor-firebase/performance": "^0.3.0"

**Platform(s):**
iOS

**Current behavior:**
I have installed:

- https://github.com/capacitor-community/firebase-analytics
- https://github.com/capacitor-community/firebase-crashlytics

And then:

- https://github.com/robingenz/capacitor-firebase/tree/main/packages/performance

`npx cap sync` produces:

[code]

**Expected behavior:**
No e

[2022-06-07 13:06] robingenz commented on #102
Hi @RRGT19,
thank you for your request!
The community plugins do not yet use the latest pod versions. That would have to be fixed there.
Please use the Analytics and Crashlytics plugin from this repository: `@capacitor-firebase/analytics` and `@capacitor-firebase/crashlytics`

[2022-06-08 07:29] bojanbizjak commented on #63
Is there a timeline for when this functionality might be available?

[2022-06-08 08:22] robingenz commented on #63
Not yet. ETA is this year.

[2022-06-09 14:45] mtnair opened #103 "bug: Remove received push notifications doesn't work"
**Plugin(s):** Messaging

**Platform(s):** Android (couldn't verify iOS yet)

**Current behavior:**
I'm trying this library because the `@capacitor/push-notifications` plugin [doesn't support data-only push notifications](https://capacitorjs.com/docs/apis/push-notifications#silent-push-notifications-data-only-notifications).
My messages to the app look something like this (output from event `notif

[2022-06-10 08:04] robingenz opened #104 "feat(messaging): implement `isSupported` method"
See https://firebase.google.com/docs/reference/js/messaging_#issupported

[2022-06-10 08:20] robingenz opened #105 "bug(messaging): `Messaging: This browser doesn't support the API's required to use the Firebase SDK. (messaging/unsupported-browser).`"
**Plugin(s):**

- `@capacitor-firebase/messaging`

**Platform(s):**

- Web

**Current behavior:**

The following error occurs in Safari:

[code]

**Expected behavior:**

No error.

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

[code]

[2022-06-11 10:48] robingenz commented on #99
Okay, i found the issue and fixed it.
You can give it a try if you want:
[code]

I will release this fix in a few days.

Thank you for the report @agustinhaller !

[2022-06-11 10:51] #105 closed

[2022-06-11 11:03] #99 closed

[2022-06-11 12:26] #104 closed

[2022-06-12 18:43] robingenz commented on #103
I just tested data-only push notifications and it seems to work on my device (OnePlus 7T, Android 11).
No notification is displayed (either with or without title/body) and the JS event fires.
Make sure to use the FCM REST API (not Firebase Dashboard).
This is my request body (`POST https://fcm.googleapis.com/fcm/send`):

[code]

About the other: I could reproduce the issues with the typescript def

[2022-06-12 19:57] robingenz commented on #103
You can give it a try:
[code]

[2022-06-13 14:49] emilkaiser commented on #99
Nice, thanks!

Just a heads up, this won't work if you follow the instructions [here](https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md) since `skipNativeAuth=true` causes `handleSuccessfulSignIn` to return early.

[2022-06-13 17:29] robingenz commented on #99
@emilkaiser That's correct! The Firebase JS SDK has it's own `accessToken` property (see [here](https://firebase.google.com/docs/reference/js/auth.oauthcredential?hl=en#properties)).

[2022-06-14 04:25] serascandia opened #111 "bug: uncaught (in promise) Error: "FirebaseMessaging" plugin is not implemented on android"
**Plugin(s):**
messaging

**Platform(s):**
IOS

**Current behavior:**
Hello, I add the library to my Quasar project but I got this error when I try to run android studio on my device, "FirebaseMessaging" plugin is not implemented on android you can guide to check what I missing? And I have another question this library catch the message received when the app it's in background? other libraries onl

[2022-06-14 04:27] serascandia commented on #111
[https://im.ge/i/rv7zV9](url)

[2022-06-15 02:01] typefox09 opened #112 "feat: Update FBSDK to 11.2.0 or greater"
**Is your feature request related to a problem? Please describe:**
Due to major changes in iOS 14 (relating to AppTrackingTransparency), Facebook has introduced a new feature "Aggregated Event Management". This helps to us to still record conversion events while maintaining user privacy.

To set up Aggregated Event Measurement for app events we must:
"Update to Facebook SDK for iOS version 11.2.0

[2022-06-15 05:44] robingenz commented on #112
Hi @typefox09,

you can give it a try:
[code]

[2022-06-15 06:21] typefox09 commented on #112
Hi Robingenz, thanks for the fast response. I've installed the updated package, however now when I run `npx cap update ios` I get the following error:

[error] Analyzing dependencies
        [!] CocoaPods could not find compatible versions for pod "Firebase/Auth":
        In Podfile:
        CapacitorFirebaseAuthentication/Facebook (from `../../node_modules/@capacitor-firebase/authentication`) was

[2022-06-15 06:33] robingenz commented on #112
You need to update your local pods repo. Please run `pod install --repo-update` in the `ios/App/` directory.

[2022-06-15 06:36] typefox09 commented on #112
That gives the following error:

[!] CocoaPods could not find compatible versions for pod "Firebase/CoreOnly":
  In Podfile:
    CapacitorFirebaseAnalytics/AnalyticsWithoutAdIdSupport (from `../../node_modules/@capacitor-firebase/analytics`) was resolved to 0.2.2, which depends on
      Firebase/AnalyticsWithoutAdIdSupport (= 8.13.0) was resolved to 8.13.0, which depends on
        Firebase/CoreOn

[2022-06-15 06:38] robingenz commented on #112
Okay, please update all other `@capacitor-firebase` packages to `0.3.1`.

[2022-06-15 06:53] typefox09 commented on #112
That works perfectly. Thanks for your help and timely update Robingenz.

[2022-06-15 07:08] #112 closed

[2022-06-15 09:47] robingenz commented on #99
@emilkaiser Have you tried the following?

[code]

Is `credential.accessToken` set?

[2022-06-15 09:48] robingenz commented on #103
@mtnair  Have you tested it and does the problem still exist?

[2022-06-15 09:53] emilkaiser commented on #99
To be clear, `result.credential` is `{ providerId: 'twitter.com' }`, no IdToken when `skipNativeAuth=true`.

[2022-06-15 10:09] robingenz commented on #99
I have never tested Twitter SignIn with `skipNativeAuth=true`, but there should actually be an `idToken` included. If not, please create a new issue and I will take a look.

[2022-06-16 00:57] RRGT19 opened #115 "bug: APNS device token not set before retrieving FCM Token (Cloud Messaging)"
**Plugin(s):**

- "@capacitor-firebase/messaging": "^0.3.1",

Docs:
https://github.com/robingenz/capacitor-firebase/tree/main/packages/messaging

**Platform(s):**
iOS

**Current behavior:**
When I request the permission, I see in Xcode console:

**Expected behavior:**
No warnings and a token provided.

**Steps to reproduce:**
- New Ionic/Capacitor App
- Install this plugin
- Try to run iOS on a re

[2022-06-16 07:52] robingenz commented on #115
Hi @RRGT19,
please try the following:
Prevent the auto initialization (see [here](https://github.com/robingenz/capacitor-firebase/tree/main/packages/messaging#prevent-auto-initialization-1)) and call `FirebaseMessaging.getToken()` in the `ngOnInit` hook.

Does that help?

[2022-06-16 09:15] emilkaiser opened #116 "bug: signInWithTwitter and skipNativeAuth=true does not return credentials (accesstoken and secret)"
**Plugin(s):**
JS:
"firebase": "9.8.2"
"@capacitor-firebase/authentication": "0.3.2"
iOS:
@capacitor-firebase/authentication@0.3.1
<img width="421" alt="Skärmavbild 2022-06-16 kl  10 38 13" src="https://user-images.githubusercontent.com/481986/174029657-337d4f7d-6c8b-431a-a3a3-28112fe17891.png">

**Platform(s):**
iOS + web

**Current behavior:**
<img width="1055" alt="Skärmavbild 2022-06-16 kl

[2022-06-16 09:44] robingenz commented on #116
Hi @emilkaiser,
thank you for this detailed issue!
I will have a look at it as soon as possible.

[2022-06-16 09:45] robingenz commented on #116
@emilkaiser Quick question first: Does it work on Android or have you not tested it there?

[2022-06-16 09:47] emilkaiser commented on #116
Sorry, I have not tested Android. I _think_ my (Android-)colleague did have the same issue, but not sure.

[2022-06-16 11:46] RRGT19 commented on #115
Hi @robingenz,

Thanks for your response.

I did what you say and now I receive the token. I have a few questions though:

1. `getToken()` has a required parameter called **options**, I needed to pass **null**.

[code]

I think the parameter should be optional, as the doc says, the parameters are meant to be used on Web. Example:

`getToken(options?: GetTokenOptions): Promise<GetTokenResult>;`
_(N

[2022-06-16 12:14] Paso opened #117 "bug: Android project with facebook login fails lint"
**Plugin(s):**
authentication

**Platform(s):**
android

**Current behavior:**
Linting the android project in CI environment fails when using the facebook provider because of missing dependency.

[code]
  android {
      lint {
          baseline = file("lint-baseline.xml")
      }
  }
[code]

**Expected behavior:**
`./gradle app:lint` should pass

**Steps to reproduce:**
Implement authentication

[2022-06-16 12:50] robingenz commented on #115
You need to pass a empty object `{}`. `null` is not a valid value (see typescript defintions). But yes, this param could be optional.

Prevent the auto initialization is optional. You can use it (for privacy reasons for example) but you don't have to.

What happens on iOS if you don't use it but call `getToken` anyway? The warning should still appear, but everything should work.

- [ ] I will debu

[2022-06-16 12:55] robingenz commented on #117
Hi @Paso,
have you added the following project variable to your `variables.gradle` file (usually `android/build.gradle`)?
[code]
Does the error only occur during lint or also during build?

[2022-06-16 13:23] Paso commented on #117
Hi @robingenz ,

Yes i do, this is my full `variables.gradle`:
[code]

I get the same error when i run `./gradlew app:build` or any of the assemble commands. I find it strange that it works in Android Studio but not in the cli (which is run in the CI environment), but I have long given up on understanding everything Android Studio does 🤷‍♂️.

[2022-06-16 13:26] robingenz commented on #117
Please create a public repository with a minimal, reproducible example and GitHub Actions, so that i can understand the problem.

[2022-06-16 13:31] robingenz commented on #115
I'm going to rewrite and unify the setEnabled methods anyway, so that should be more obvious soon (see #13).

Right. First request permissions, then retrieve FCM token.

Thanks again for your issue. This helps me to improve this library. 👍

I'm leaving the issue open yet as I want to debug the ios issue before closing it.

[2022-06-16 13:36] mtnair commented on #103
Sorry for the late reply, I couldn't test it until today. The problem with the type definitions is indeed fixed.

I also identified a problem on our backend side, we sent two push messages simultaneously to our apps, one "classic" notification with title and body, and one data-only notification. But it took a while until I found out about this, because 1. I'm no backend developer and didn't know a

[2022-06-16 13:44] JSponaugle commented on #56
@robingenz Can you provide the persistence into your demo. To show how you would go by doing this.

[2022-06-16 13:57] Paso commented on #117
A minimal reproduction: https://github.com/Paso/fb-auth-repro

[code]

[2022-06-16 14:01] robingenz commented on #103
This is not a problem with the library. In the background only data-only notifications can trigger `notificationReceived`.

You have to combine `id` and `tag`. `tag` is a new property in the dev version i recently published (see [here](https://github.com/robingenz/capacitor-firebase/issues/103#issuecomment-1153278238)).
To remove a notification, just pass in the entire notification and the plugin

[2022-06-16 14:01] robingenz commented on #103
Have you tested the dev version and does everything work with it now?

[2022-06-16 14:03] robingenz commented on #56
@JSponaugle Yes, please create a feature request in the demo app repo for tracking.

[2022-06-16 14:04] robingenz commented on #117
Thank you, i will look at it as soon as possible.

[2022-06-16 16:50] serascandia opened #118 "bug: warning " > @capacitor-firebase/messaging@0.3.1" has incorrect peer dependency "firebase@^9.0.0""
**Plugin(s):**
Messaging

**Platform(s):**
IOS

**Current behavior:**
when I try to install the package with YARN I got this warning message, this is normal?

**command run: yarn add @capacitor-firebase/messaging**

**Expected behavior:**
install the package without warnigs

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

[code]

[2022-06-16 18:08] robingenz commented on #118
Hi @serascandia,
Unfortunately, I have no experience with yarn. It seems to be a general warning, which can also occur with other packages. Please post your question best on Stackoverflow. Since it is just a warning, I am closing this issue.

[2022-06-16 18:08] #118 closed

[2022-06-16 19:25] agustinhaller opened #119 "bug: Missing config for latest FacebookSDK on Android"
**Plugin(s):**
`@capacitor-firebase/authentication@0.3.1`

**Platform(s):**
Android

**Current behavior:**
FacebookSDK fails to initialize
When running the app on AndroidStudio I found this warnings:
[code]

**Expected behavior:**
FacebookSDK initializes correctly

**Steps to reproduce:**
Build and Run an app using the latest `@capacitor-firebase/authentication@0.3.1`with native auth enabled

**Ot

[2022-06-17 11:48] mtnair commented on #103
So there is no other way to intercept other notifications in the app? And could you add a bit of documentation, that this event isn't triggered by these notifications?

This works now on android. I came to test it on iOS today too, but there, delivered notifications still don't get removed.

[2022-06-17 12:02] robingenz commented on #103
You should be able to list all active notifications with `getDeliveredNotifications`. But the listener fires in the background only for data-only notifications.

Yes 👍

Okay, then i will have a look at iOS next.

[2022-06-17 13:14] robingenz commented on #117
I tried your repo and was able to reproduce the error.
I compared your repo with https://github.com/robingenz/capacitor-firebase-authentication-demo and I noticed that we have the following diff in the `android/build.gradle` file:
[code]
With `classpath 'com.android.tools.build:gradle:4.2.1'` linting works without problems.

[2022-06-17 14:32] #119 closed

[2022-06-18 00:18] #93 closed

[2022-06-20 19:38] robingenz commented on #103
Okay, iOS is fixed:

[code]

[2022-06-20 20:08] #103 closed

[2022-06-20 20:23] jongbonga opened #124 "feat: automatically set current screen"
**Is your feature request related to a problem? Please describe:**
Not a problem but a nice to have add-on that would automatically set the screenName according to route path or name

**Describe the solution you'd like:**
[code]

Instead of calling the above snippet on every page, we could call something like `FirebaseAnalytics.trackPage({route: 'path'| 'name'})` on app load

[2022-06-21 06:01] robingenz commented on #124
I think this is out-of-scope of this plugin. If I understand your proposal correctly, then it also depends on which framework you use. The Angular router works differently than the VueJs router etc. And these should trigger the event in case of navigation.
For this reason, I am closing this issue.
Please let me know if I missed something.

If you listen to the router events in a service, then you

[2022-06-21 06:01] #124 closed

[2022-06-21 09:01] fryiee commented on #30
@robingenz any update on this one?

[2022-06-21 09:24] robingenz commented on #30
No, not yet. I will try to look into this issue next week. I am currently writing my exams and therefore do not have much time.

[2022-06-21 16:22] DwieDima commented on #36
Is there any ETA for this feature? 🔥

[2022-06-21 17:07] robingenz commented on #36
Not yet, but I should get to it in Q3.

[2022-06-21 21:43] bastifix commented on #116
I'm trying to do the same with Microsoft as AuthProvider, but it seems to be the same problem. (only tried on iOS)
(Microsoft and Twitter are both not in the [examples](https://github.com/robingenz/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md): is it the right way to implement it?)

[2022-06-22 17:44] robingenz opened #125 "⚡️ Capacitor 4"
The Capacitor 4 Beta has been released: https://github.com/ionic-team/capacitor/releases/tag/4.0.0-beta.0

See https://github.com/ionic-team/create-capacitor-plugin/commit/03027bf603626ebfdba084cb9d9a1a359d008554.

TODO:
- [x] Remove Java 11 hint

[2022-06-23 05:41] typefox09 commented on #30
For reference I have added the code for the main function that I had to modify for the Apple auth. I'm not a Swift developer so please excuse any bad code.

`    func authorizationController(controller: ASAuthorizationController, didCompleteWithAuthorization authorization: ASAuthorization) {
        guard let appleIDCredential = authorization.credential as? ASAuthorizationAppleIDCredential else {

[2022-06-24 13:51] indraraj26 opened #126 "demo : not able to run demo project"
Demo Repo: https://github.com/robingenz/capacitor-firebase-plugin-demo
Steps: npm i && ionic build && npx cap sync android && npx cap sync open
Build Apk

A problem occurred configuring project ':app'.

Thank you

[2022-06-24 13:53] indraraj26 opened #127 "bug(cloud-messaging): not getting body payload when app is background"
**Plugin(s):**

 "@capacitor-firebase/authentication": "^0.3.1",
 "@capacitor-firebase/messaging": "^0.3.1",
  "firebase": "^9.8.3",

**Platform(s):**

Android

**Current behavior:**

I see [background notification messaging service](https://github.com/robingenz/capacitor-firebase/blob/main/packages/messaging/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/messaging/MessagingServi

[2022-06-27 04:14] mesqueeb opened #129 "feat: Firebase in-app messaging (β)"
There's a great new service of Firebase called in-app messaging:
https://firebase.google.com/docs/in-app-messaging/get-started?authuser=0&hl=en&platform=ios

Would be cool if we could have a plugin for this as well!

[2022-06-27 04:33] robingenz commented on #129
Thank you! I will have a look.

[2022-06-27 05:45] carsonsuite commented on #30
@robingenz I hope exams are going well. What is the estimated lead time on resolving this?

[2022-06-27 09:50] VashAlex opened #130 "Use different credentials for twitter login instead of using only one account"
**Plugin(s):**
"@capacitor-firebase/authentication": "^0.3.1",

**Platform(s):**
IOS (probably android too, but I did not test it)

**Current behaviour:**
After call signOut  method, twitter account is still connected to user

**Expected behaviour:**
After call signOut method unlink twitter for user and give access to login with another credentials

**Steps to reproduce:**
Call "FirebaseAuthentica

[2022-06-27 10:00] robingenz commented on #130
The plugin signs out the user properly (at Firebase Auth). The behavior you describe is handled by twitter and can be configured with some providers via custom parameters.
You can try this:
[code]

[2022-06-27 10:09] VashAlex commented on #130
@robingenz Thank you so much, it's working

[2022-06-29 16:23] indraraj26 commented on #127
Hi @robingenz ,

I had similar issue with Capacitor Push notification too. Is there any way to solve it.

https://github.com/ionic-team/capacitor-plugins/issues/964

Thank you so much.

[2022-06-29 17:04] robingenz commented on #127
Hi @indraraj26,
I am currently writing my exams and therefore have little time. I will look at it in 2 weeks.

[2022-06-29 18:10] indraraj26 commented on #127
Thank you :) best of luck for your exam ;)

[2022-06-29 18:44] robingenz commented on #30
ETA is 2 weeks, I am unfortunately still busy, PRs are welcome

[2022-06-29 20:03] robingenz opened #133 "refactor: rename `dev.robingenz` to `io.capawesome`"
Rename package ids from  `dev.robingenz...` to `io.capawesome...`.

[2022-06-30 21:31] lincolnthree opened #134 "bug: Firebase Crash Report - NullPointerException"
**Plugin(s):**

Firebase Authentication

[code]

**Platform(s):**

Android 10 - Lenovo Tab M10 FHD Plus

**Current behavior:**

[code]

**Expected behavior:**

No null pointer exception

**Steps to reproduce:**

Unknown, this was reported in Firebase Crashylitics.

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

[code]

[2022-06-30 21:33] lincolnthree opened #135 "bug: Firebase Crash Report - RuntimeException"
**Plugin(s):**

Firebase Authentication

[code]

**Platform(s):**

Android 12 - Samsung Galaxy S10

**Current behavior:**

[code]

**Expected behavior:**

No null pointer exception

**Steps to reproduce:**

Unknown, this was reported in Firebase Crashylitics.

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

[code]

[2022-06-30 21:33] lincolnthree commented on #135
![image](https://user-images.githubusercontent.com/362329/176781911-246223c9-c935-4f11-84b6-3b3c6f1b6a45.png)

[2022-06-30 21:34] lincolnthree commented on #134
![image](https://user-images.githubusercontent.com/362329/176782029-0beb43ce-c7c6-4528-bf58-237c91f98bfb.png)

[2022-07-05 09:14] radru1 commented on #127
@indraraj26 background notification is handled by system and you will only get data in notificationActionPerformed - that's when client first interacts with it. From what I've seen it's best to add title and body to data too if you want to use them in this way. I think the MessagingService extension you linked to allows data only messages to work in background, not show notification in actionPerfo

[2022-07-05 22:04] lincolnthree opened #136 "bug: Reproducible Native App Crash when calling `FirebaseAuthentication.signOut()`"
**Plugin(s):**

Firebase Authentication 0.5.0

**Platform(s):**

Android

**Current behavior:**

Native Crash to Home Screen

**Expected behavior:**

Plugin should throw an Error, not crash the Native app (IMO: plugins should *never* crash the entire app even if something is seriously wrong - unless there's about to be a nuclear security breach or something of that nature.)

**Steps to reproduce:*

[2022-07-05 22:26] lincolnthree opened #137 "bug: Facebook Authentication fails to initialize on Android"
**Plugin(s):**

Firebase Authentication 0.5.0

**Platform(s):**

Android

**Current behavior:**

Calling ` FirebaseAuthentication.signInWithFacebook({ customParameters: [] })` never returns from Promise. Native code never response to app;

**Expected behavior:**

The plugin call should either succeed or fail, but not hang indefinitely.

**Steps to reproduce:**

Apparently just call `await Firebase

[2022-07-05 22:34] lincolnthree commented on #137
My fault. Apparently the client token was missing somehow even though I'm 99% sure we added it previously.

[2022-07-05 22:34] #137 closed

[2022-07-05 22:36] lincolnthree commented on #136
This apparently occurs if Facebook has been set up but failed to initialize (for example if the client token is missing.)

[2022-07-07 05:55] indraraj26 commented on #127
Hi @radru1,

I mean when you click on notification and open the app there i need to know body payload in order to redirect you on specific page.

from that explanation link I think that we need to add this in this [https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/messaging/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/messaging/MessagingService.java](capa

[2022-07-07 07:12] radru1 commented on #127
If I understand docs correctly overriding onMessageRecieved won't help you if you are sending a notification to background app as it's simply not called. see: https://firebase.google.com/support/faq/#fcm-android-background or table I linked before. If all you need to do is have body information place it in data object of cloud message payload too, not only in notification.body

[2022-07-07 14:07] indraraj26 commented on #127
Thanks a lot for your suggestion :), and It is working

[2022-07-12 14:42] isamyh opened #139 "feat: Supporting multiple tenants"
**Is your feature request related to a problem? Please describe:**
Signing in in with multiple tenants

**Describe the solution you'd like:**
The ability to set tenant id.
Example in the javascript sdk:
[code]

[2022-07-12 20:50] braincomb opened #140 "bug: authStateChange never fires."
**Plugin(s):**
"@capacitor-firebase/authentication": "^0.5.0"

**Platform(s):**
Android

**Current behavior:**
When using `const result = await FirebaseAuthentication.signInWithGoogle()` for example, the login is successful and `result.user` is returned. However, `authStateChange` is never fired. Note that this works in web, but NOT on Android.

**Expected behavior:**
`authStateChange` needs to be

[2022-07-13 06:02] robingenz commented on #140
Hi @braincomb,
the problem with #56 was that i could not reproduce it. In my [demo app](https://github.com/robingenz/capacitor-firebase-plugin-demo) the listener works. Could you try the demo app and see if it works for you?

[2022-07-13 06:08] robingenz commented on #139
Hi @isamyh,
this should already be possible using [SignInCustomParameter](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#signincustomparameter):

Example:
[code]

[2022-07-13 07:45] isamyh commented on #139
Hello @robingenz,
It does not look like its typed with the signInWithPhoneNumber, i tried specifing the tenant id and it signed in with the default auth tenant.
![image](https://user-images.githubusercontent.com/46595503/178679202-320cd221-f342-48a5-830f-1870617705c0.png)

[2022-07-13 15:00] phal0r opened #142 "bug: Firebase Messaging not initialized"
**Plugin(s):**
- @capacitor-firebase/messaging@0.5.0

**Platform(s):**
- ios

**Current behavior:**
I added the plugin to my capacitor app, set up push notifications and background modes. Added snippets as described to AppDelegate.swift and FirebaseAppDelegateProxyEnabled to Info.plist. Also added GoogleService-Info.plist to the xcode project.

After building and running the app on a mobile device

[2022-07-13 15:15] dodomui opened #143 "feat: com.google.android.gms:play-services-safetynet"
Critical issues have been reported with the following SDK versions:

com.google.android.gms:play-services-safetynet:17.0.0

What the SDK developer told us:
The SafetyNet Attestation API is being discontinued and replaced by the new Play Integrity API. Begin migration as soon as possible to avoid user disruption. The Play Integrity API includes all the integrity signals that SafetyNet Attestation o

[2022-07-13 15:41] robingenz commented on #142
Hi @phal0r,
thank you for your request.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug the issue.

[2022-07-13 16:18] phal0r commented on #142
Ok, I will prepare a testrepo. For Android it works as expected, only iOS is affected.

[2022-07-13 16:32] robingenz commented on #139
Yes, we do not support it there so far.

I guess we need a new method `setTenantId()`.
I will mark this issue as a feature request.

[2022-07-13 16:35] robingenz commented on #142
Thank you!

It may be that the warning appears because the plugin is not loading fast enough and takes a little longer to register. But I'm not sure if I could do anything about that. Is everything working besides that?

[2022-07-13 17:13] isamyh commented on #139
Hello @robingenz
Sorry for the confusion. I see identity manager with multiple tenants supports everything except signInWithPhoneNumber.
As of now, I don't need this functionality since i will send otp verification with twilio instead. But someone else might need it?
<img width="865" alt="image" src="https://user-images.githubusercontent.com/46595503/178791973-b8aa40ee-18d6-41e4-a68f-d3c56b78d173.

[2022-07-13 17:28] robingenz commented on #139
Ah, no problem, I was wondering why I could not find the parameter in the documentation. In this case it is not yet supported and in all other cases the parameter already exists in the plugin. So I will close this issue.

[2022-07-13 18:52] robingenz commented on #136
You're right!

Related to #25.

[2022-07-13 19:59] braincomb commented on #140
Hi @robingenz,

I'll try the demo app when I get a chance, but so far the only difference that I can see is that you do not `initiliazeApp` firebase app if the platform is native Capacitor. I don't know if that makes any difference, but I do require to initialize JS SDK, since I'm also using Firestore.

Additionally, I noticed that `Notifying listeners for event authStateChange` happens before the

[2022-07-13 20:01] braincomb commented on #116
+1. Having same `(auth/argument-error)` error with Twitter sign in.

[2022-07-13 21:42] yuvrajjsingh0 commented on #136
Any update? I'm also facing the same issue

[2022-07-13 22:29] yuvrajjsingh0 commented on #136
Hey,

I have resolved this by doing following changes to AndroidManifest.xml file inside <application> tag:

[code]

Now, Facebook SDK will get initialized correctly and error will be resolved. Make sure you put Facbook App id and Facebook Client Token in your strings.xml file

[2022-07-14 05:55] robingenz commented on #140
`skipNativeAuth` should not matter in this case. I have tested it with both.

[2022-07-14 13:15] phal0r commented on #142
@robingenz here is the reproduction: https://github.com/phal0r/push-test

my steps:
[code]

xcode logs:
[code]

Tried to send a broadcast notification from firebase console, but it does not work.

[2022-07-14 15:18] phal0r commented on #142
I was debugging a little with xcode now and it works, but there are still some quirks:

`FirebaseApp.configure()` is executed on the main thread and has loaded the google plist properly, but still shows this warning of not being configured
-> Do you know, how we can prevent this?

`APNS device token not set before retrieving FCM Token...`
-> this always happen on first app start, so I think there

[2022-07-14 16:47] braincomb commented on #56
@Sampath-Lokuge were you able to resolve this? I have the same issue where `authStateChange` never fires.

[2022-07-14 18:59] robingenz commented on #142
Thanks for debugging!

-> Do you know, how we can prevent this?

Configure a FirebaseApp instance in your App's delegate's application(_:didFinishLaunchingWithOptions:) method:
[code]
This should remove the warning message.
It also works without, because the plugin does that too, but then the warning appears, because the plugin does a bit later.

Is there anything we can do to fix this?

Make sure

[2022-07-15 01:51] Sampath-Lokuge commented on #56
@braincomb Yes, I have used the `Capacitor Storage` plugin to store the user details.

 `firebase-authentication.service.ts`

[code]

`app.component.ts`

[code]

Please let me know if you'll need more details here.

[2022-07-15 09:27] aronsuarez commented on #140
same problem here but with iOS, it works on the Web

[2022-07-15 11:10] robingenz commented on #142
Sorry, I can' t follow you on that one. Do you want to make a PR with your proposal?

I would like to fix it too. What gives you the feeling that I want to build around it?
As I said before I can not call `FirebaseApp.configure()` earlier. You can remove the warning by calling it yourself
The error message `APNS device token not set before retrieving FCM Token...` I could not reproduce with my dem

[2022-07-15 13:37] robingenz commented on #142
No problem, I just want to make sure you didn't get it wrong 😄

That may be, but I can't think of what that could be at the moment.

👍

Great, thank you! I like to definitely solve the problem but work on everything separately from each other.

[2022-07-15 15:30] phal0r opened #148 "bug: tokenReceived event returns wrong token"
**Plugin(s):**
- @capacitor-firebase/messaging@0.5.0

**Platform(s):**
- ios

**Current behavior:**
Currently the tokenReceived event is triggered, when the app receives an APNS token and when getToken is invoked from js land. The first emit returns the APNS token instead of the Firebase token, which is a bug. The second invocation is probably not the right place, because the token is requested by

[2022-07-15 15:42] #134 closed

[2022-07-15 16:11] phal0r commented on #148
Ah, I totally missed #144. Yeah, this is, what I wanted to prepare :)

[2022-07-15 16:22] phal0r commented on #142
Now I am messing around with the code locally, but no luck so far. I even put it in the launch method as suggested from you and the firebase docs:

[code]

And I still get this warning. So something is wrong with my local test app. I will dig a little deeper.

[2022-07-15 16:43] robingenz commented on #148
Okay, in that case I'll close this issue. 🙂
Let me know if there is anything else.

[2022-07-15 16:43] #148 closed

[2022-07-15 18:26] robingenz commented on #116
So i could reproduce the issue on iOS but not on Android.
The Firebase Android SDK requests the access token **before** signing in using the generated OAuthCredential.
https://github.com/capawesome-team/capacitor-firebase/blob/4a0e4df7275dfa080d09ac4b3fa9e43448158f9f/packages/authentication/android/src/main/java/dev/robingenz/capacitorjs/plugins/firebase/authentication/FirebaseAuthentication.java#

[2022-07-15 18:26] #116 closed

[2022-07-15 18:35] #136 closed

[2022-07-16 14:04] TheRealPingWin opened #150 "bug: Native android app crashes at start after installing @capacitor-firebase/authentication"
**Plugin(s):**

@capacitor-firebase/authentication": "^0.5.0"

**Platform(s):**

android

**Current behavior:**

I installed the plugin to my app and now it crashes at start.
after building the app it shows no error
I tried creating a new app from scratch and test it there and it crashes the app too.

**Expected behavior:**

App opens on android

**Steps to reproduce:**

make a new angular app
add

[2022-07-16 14:24] TheRealPingWin commented on #150
Also here's the android debug about the crash if it helps:

Module metadata package name: com.google.android.modulemetadata
Setting progress: 25/400 (6%)
Setting progress: 30/400 (7%)
Successfully connected to Dumpstate HAL service ver 1.1dumpstateBoard failed with DumpstateStatus::UNSUPPORTED_MODE
Setting progress: 35/400 (8%)
Setting progress: 40/400 (10%)
Setting progress: 45/400 (11%)
Setting

[2022-07-16 19:47] robingenz commented on #150
Hi @TheRealPingWin,
please have a look at the `providers` [configuration](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#configuration) option. By default, all providers (Facebook, Google, etc.) are enabled. However, this also means that you have to configure all of them. If you don't, the app will crash on startup.

Please set the `providers` [configuratio

[2022-07-16 22:55] TheRealPingWin commented on #150
Thanks, tomorrow I will try it and reply how it went.

[2022-07-17 12:19] TheRealPingWin commented on #150
It works.
Added only "google.com" to the providers and added the variable to the variables.gradle and now the app doesn't crash.
Thanks the help.

[2022-07-17 12:39] robingenz commented on #150
Great, thank you for testing!
So i will close this issue.

[2022-07-17 12:39] #150 closed

[2022-07-18 10:27] Paso commented on #117
This probably needs to be fixed at some time.

My suggestion is to update the docs to say that you should manually add the facebook-login dependency. I have manually added it in my project and that makes it work for me.

Downgrading gradle doesn't work for me as I use a newer version of Java that the old gradle doesn't support.

[2022-07-21 06:19] vtolenti89 opened #152 "Error: `java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/auth/api/signin/GoogleSignIn`"
Hello,

We've been having some difficulties implementing this library in angular ionic project.
Upon its implementation, the app began to close automatically right after opening, and the only traces available are the one displayed in the android studio when debugging it:
 `
Process: com.XXX.mobile, PID: 26056
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/auth/ap

[2022-07-21 06:45] robingenz commented on #152
Hi @vtolenti89,
Have you followed the [setup guide](https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/setup-google.md) and added the following project variable to your `variables.gradle` file (usually `android/build.gradle`)?
[code]

[2022-07-21 16:17] robingenz opened #153 "refactor: replace `null` as type"
Example:

[code]

[2022-07-21 17:49] robingenz commented on #117
I will look at it again.

[2022-07-21 20:15] vtolenti89 commented on #152
Hi @robingenz
Thanks for your message. I just found time now to try it.
Even after configuring it according to the the setup guide, I am getting the following error on Android Studio:

`
Unable to load class 'com.android.build.api.variant.AndroidComponentsExtension'.
This is an unexpected error. Please file a bug containing the idea.log file.
`

[2022-07-21 20:19] robingenz commented on #152
Okay, in this case I need a minimal, reproducible example so that I can debug the issue.

[2022-07-23 12:23] robingenz opened #155 "bug(authentication): `displayName` is missing when signing in with Apple on iOS using `skipNativeAuth`"
**Plugin(s):**

- `@capacitor-firebase/authentication`

**Platform(s):**

- iOS

**Current behavior:**

See https://github.com/capawesome-team/capacitor-firebase/issues/30#issuecomment-1135213338.
The  `displayName` is missing when signing in with Apple on iOS (using `skipNativeAuth`).
This is related to https://github.com/firebase/firebase-ios-sdk/issues/4393.
We should try to find a workaround.

[2022-07-23 12:43] robingenz commented on #30
You can now test the first dev version:

[code]

Example to get the Google user ID:

[code]

--------------------------

@typefox09 Unfortunately your problem had nothing to do with `AdditionalUserInfo`, because the Apple DisplayName is not part of this interface (see [Firebase docs](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/AdditionalUserInfo)). So for your probl

[2022-07-23 13:37] hermitdemschoenenleben commented on #34
@elliott44k have a look at the corresponding PR of capacitor-firebase-auth: https://github.com/baumblatt/capacitor-firebase-auth/pull/206/files

[2022-07-23 16:11] #30 closed

[2022-07-23 16:19] robingenz opened #156 "bug(authentication): `customParameters` is not applied on Web"
**Plugin(s):**

- `@capacitor-firebase/authentication`

**Platform(s):**

- [ ] Web

**Current behavior:**

`customParameters` is not applied on the Web.

**Expected behavior:**

`customParameters` should be applied on the Web.

[2022-07-23 16:37] #156 closed

[2022-07-23 20:05] robingenz opened #158 "feat(messaging): support Action Buttons"
**Is your feature request related to a problem? Please describe:**

Currently there is no possibility to create push notifications with action buttons.

**Describe the solution you'd like:**

Add the possibility to create push notifications with action buttons.

Example:
![reply-button_2x](https://user-images.githubusercontent.com/13857929/180621032-f1d89c00-017e-4d5d-80f6-d82a28eff996.png)

([Sou

[2022-07-24 01:08] jaythegeek commented on #140
I too am having the same issue. Vue App. Calling the addListener and it is attaching it. It just never gets fired on IOS. Any ideas?

[2022-07-24 06:23] robingenz commented on #140
Please provide a minimal, reproducible example so that I can debug the it.

[2022-07-24 09:48] typefox09 commented on #155
One workaround could be to use Firebase's new Auth blocking functions (this solution lies outside this SDK)

Using the beforeUserCreated cloud function trigger, we can access the users name from the Apple auth token, and then use this to update Firebase's native displayName name field.

I haven't tested this yet, however after reading the docs below, I believe it will be possible.

https://firebas

[2022-07-25 20:31] vtolenti89 commented on #152
It seems that there was some sort of conflict with this library and the following dependency:
`classpath 'com.google.android.libraries.mapsplatform.secrets-gradle-plugin:secrets-gradle-plugin:2.0.0'`

I dowgraded it to 1.3.0 and everything started to work.
It is still not clear why it was happening.

[2022-07-25 20:37] aaronksaunders commented on #140
I have been stumped by this same issue all day and was forced to create a workaround, it works correctly when running in browser but not on device

[code]

[2022-07-25 21:15] aaronksaunders opened #159 "Documentation Issue - How to Sign To Firebase JS SDK From Event Listener"
First off, great work.

I have reviewed the documentation for logging into the Javascript SDK when initially logging in the user, but it is unclear to me how or If I need to log in the user as a result of the auth change event.

I cannot test if the auth change event in fact will log in the user on the device because it is not working?

[2022-07-25 21:26] robingenz commented on #159
Hi @aaronksaunders,
yes, i need to improve the documentation.
Did you find this document: https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md ?

I think you refer to issue #140. As I have already mentioned there, I have not yet been able to reproduce the issue. I will try it again.

[2022-07-25 21:29] aaronksaunders commented on #159
That only shows how to login the user when initially logging in. My
question is if the user gets logged in to the js sdk on native auth change
event?

On Mon, Jul 25, 2022 at 5:27 PM Robin Genz ***@***.***> wrote:

--

--

Aaron K. Saunders
CEO Clearly Innovative Inc
***@***.***
www.clearlyinnovative.com

This email message and any attachment(s) are for the sole use of the
intended recipient(s) an

[2022-07-25 21:31] robingenz commented on #152
Glad you found the problem. In that case I will close this issue.
Unfortunately, conflicts between dependencies can always occur. I try to keep the dependencies always up to date. Unfortunately I can't do much more.
Which plugin uses this dependency? Maybe I can find out more.

[2022-07-25 21:31] #152 closed

[2022-07-25 21:42] robingenz commented on #159
Okay, I think I understand the problem now.
You're using the Firebase JS SDK on a native device?
In this case the plugins [`addListener('authStateChange', ...)`](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#addlistenerauthstatechange-) method does not work, because on a native device the web code of the plugin is not being executed. In this case you have

[2022-07-25 21:46] aaronksaunders commented on #159
but how do I login the user when returning to the app the second time? basically I want Firebase to detect there is an existing user and log the user in again for me. But the listener doesn't work so I cannot get logged back into js even though
`const result = await FirebaseAuthentication.getCurrentUser();` returns a valid user

[2022-07-25 22:01] robingenz commented on #159
You do not need to login the user again when returning to the app. Firebase handles this for you. You just need to configure the persistence setting correctly. Please have a look at https://github.com/capawesome-team/capacitor-firebase/issues/56#issuecomment-1084991106.

[2022-07-25 22:03] robingenz commented on #140
Hi @braincomb,
i think i got your problem now.
Does this help you: https://github.com/capawesome-team/capacitor-firebase/issues/159#issuecomment-1194667877 ?

[2022-07-25 22:04] aaronksaunders commented on #159
I understand everything you are saying... and I have done all of that, BUT since the authListener is not working on the device I never get a user.... so this brings us back to the initial bug #140

I have an example app, but it is in vue.js and I will post a link in the next few minutes

[2022-07-25 22:07] robingenz commented on #159
Alright i will have a look then.

[2022-07-25 22:26] aaronksaunders commented on #140
sample project in vuejs where the listener is not firing when app starts up on device

https://github.com/aaronksaunders/mobile-gauth

[2022-07-25 23:03] aaronksaunders opened #160 "bug: When Logging In With "Google", The ProviderId Says "Firebase""
**Plugin(s):**
FirebaseAuthentication

**Platform(s):**
IOS

**Current behavior:**
[code]
will log out the user, but displays the incorrect `providerId`, the correct id is provided in the `credential` object when signing in but you don't get the `credential` information when calling `FirebaseAuthentication.getCurrentUser()`

**Expected behavior:**
display the correct  `providerId`

**Steps to repr

[2022-07-26 08:02] robingenz opened #161 "feat(authentication): expose `providerData` property"
**Is your feature request related to a problem? Please describe:**

Currently you cannot access the `providerData` property.
See #160

**Describe the solution you'd like:**

Support https://firebase.google.com/docs/reference/js/auth.user.md#userproviderdata.

**Describe alternatives you've considered:**

**Additional context:**

[2022-07-26 08:03] robingenz commented on #160
Hi @aaronksaunders,
please have a look at this SO answer: https://stackoverflow.com/a/39294811/6731412
You are looking for the `providerData` property which also has a `providerId` property with the value you want. This is currently not supported. I have created a feature request for this: #161
Since this is not a bug I close the issue.

[2022-07-26 08:03] #160 closed

[2022-07-26 11:44] robingenz commented on #140
@aaronksaunders Thank you! I will have a look.

[2022-07-26 11:56] EinfachHans opened #162 "bug(messaging): lastRemoteMessage not stored on iOS"
**Plugin(s):**

- messaging

**Platform(s):**

- iOS

**Current behavior:**

When you click on a push notification while the app is closed you will not receive the callback. This is because the ios implementation of this plugin doesn't store the `lastRemoteMessage` before registration, while the android side does.

**Expected behavior:**

iOS should also store the last push message until the plugi

[2022-07-26 12:12] robingenz commented on #162
Thank you @EinfachHans! I will take a look soon.

[2022-07-27 03:33] fryiee commented on #155
Not sure I love the idea of forcing a Cloud Function for this. The Apple credential generated does already return the value, but getting it downstream might be tricky until that issue referenced above has a clearer solution.

[2022-07-27 07:07] carlossk commented on #9
it would be great to have this plugin

[2022-07-27 18:55] leochaddad commented on #159
How would your example work with Apple sign in? I'm having the same issue.

[2022-07-27 21:07] robingenz commented on #125
ETA: see Milestone

[2022-07-27 22:04] bastifix commented on #159
I'm having the same issue with Microsoft: signInWithCredential is not supported for Microsoft
https://cloud.google.com/identity-platform/docs/web/microsoft
Would love a way through this ;-)

[2022-07-29 11:54] HeikoKanzler commented on #142
I just randomly came across this issue. I have a similar problem: fresh app, fresh install of Firebase (Analytics and Crashlytics) and it floods my logs with "No Firebase App '[DEFAULT]' has been created", both web and build on device. However, everything works as expected, it's only flooding my logs on each call to Firebase.

[2022-07-29 13:17] robingenz commented on #142
@HeikoKanzler Please provide a minimal, reproducible example so I can debug it. I saw the message only one time at startup.

[2022-07-30 15:27] robingenz commented on #159
@leochaddad @bastifix Please create a new discussion (https://github.com/capawesome-team/capacitor-firebase/discussions) for such questions. This issue is not related to a specific auth provider.

[2022-07-30 22:42] RRGT19 opened #166 "bug: Add support for Capacitor 4"
**Plugin(s):**
All

**Current behavior:**
When upgrading from Capacitor 3 to Capacitor 4, `npm install` fails because of peer dependencies pointing to Capacitor 3.

**Expected behavior:**
Install should not return any dependency error.

**Other information:**
Capacitor 4 has been released recently, see releases [here](https://github.com/ionic-team/capacitor/releases). The `peerDependencies` of all

[2022-07-31 07:36] robingenz commented on #166
Closed as duplicate of #125

[2022-07-31 07:36] #166 closed

[2022-07-31 15:57] Squix opened #167 "bug: Capacitor-Firebase plugins are not compatible with AngularFire"
**Plugin(s):**

All Capacitor Firebase plugins.

**Platform:**

- All capacitor platforms
- Using Angular & AngularFire

**Current behavior:**

App is complaining that no firebase app is initialized :
[code]
But I initialized it with AngularFire 7, as the [official doc](https://github.com/angular/angularfire#example-use) says it should be :

[code]
I also tried the *compat API way (non-modular)* :

[2022-08-01 10:04] robingenz commented on #167
Hi @Squix,
i've never tested my plugins with `@angular/fire`.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can have a look.

One thing in advance: These plugins use the native Firebase SDKs. So when you sign in on Android and iOS, you are signed in on native layer and not on we

[2022-08-01 10:09] robingenz commented on #140
@aaronksaunders Have you tested your demo? It works on the Web but not on iOS, i just get a blank white screen without error message on xcode or safari devtools:
<img width="392" alt="grafik" src="https://user-images.githubusercontent.com/13857929/182125752-8254f8d8-b068-46b6-a904-0f59abcf60f8.png">

[2022-08-01 14:53] aaronksaunders commented on #140
@robingenz that is the bug... the state change is never firing at startup so the app doesn't now if it should show the home screen or the login screen

[2022-08-02 15:56] robingenz commented on #140
@aaronksaunders The auth state change listener is firing. See my screenshot. You can debug it with XCode yourself.
<img width="904" alt="grafik" src="https://user-images.githubusercontent.com/13857929/182411506-efd5081d-3992-4d58-b497-c8a1dd2b043d.png">

Maybe it is a problem with Capacitor or your code. I'll try to find out more. In any case, the plugin is doing its job.

[2022-08-02 16:58] aaronksaunders commented on #140
i debugged it in your code also, the project is that it is firing before
the Ionic app is completely initialized and able to set the listener up

--

Aaron K. Saunders
CEO Clearly Innovative Inc
***@***.***
www.clearlyinnovative.com

This email message and any attachment(s) are for the sole use of the
intended recipient(s) and may contain proprietary and/or confidential
information which may be pr

[2022-08-02 17:14] braincomb commented on #140
@aaronksaunders thank you for taking the time to set up a reproducible project; I am of the same assessment that the event may be firing from the plugin but it either **1)** doesn't propagate to the WebView layer, or **2)** as you said fires before the listener is set up. This can be observed from the logs in my original post from Android Studio:

[code]

[2022-08-02 17:19] aaronksaunders commented on #140
@braincomb thanks for doing the work also, I was just about to do the same with the IOS plugin, but it already confirms my suspicion that the authstate change is firing at startup of the plugin and the web code hasn't attached the listener yet. Hopefully, this will be enough proof for @robingenz to take another look at this.

[2022-08-02 17:49] leochaddad commented on #140
@aaronksaunders did you come up with any temporary solution? I'm experiencing the exact same problem.

[2022-08-02 18:35] robingenz commented on #140
I will look at it again and possibly consult with the Capacitor team to see what solution they recommend.

[2022-08-02 19:52] DwieDima commented on #167
@Squix for me this works with no issues using this configuration:
I've set `skipNativeAuth` to `true` inside `capacitor.config.ts`.

[code]

[2022-08-02 23:28] aaronksaunders commented on #140
@leochaddad - I figured out a workaround to the problem for my vuejs application, I set `skipNativeAuth` to false

and then I just use the JS SDK authListener since it does fire.
[code]
I don't start the app completely until I know `authStateChanged` has been called

[code]

[2022-08-03 09:53] trancee commented on #38
Just as a side note, this would probably come in handy using the Multi-factor Auth:
https://firebase.google.com/docs/auth/android/multi-factor

[2022-08-03 11:55] trancee commented on #36
@robingenz Have you made any progress on this one already? If not, I would like to help you out with the implementation.

[2022-08-03 12:21] robingenz commented on #36
@trancee Not yet. You are welcome to submit a PR. Let me know if you have any questions.

[2022-08-04 17:29] robingenz commented on #100
In order for Crashlytics to capture the WebView crash, the app must actually crash. For this, the following changes to `@capacitor/ios` are necessary: https://github.com/robingenz/capacitor-firebase-issue-100/commit/cf7e20a98d8a34319ac21fd9a0c60e90010862ea

There is already a discussion about this change: https://github.com/ionic-team/capacitor/issues/2379
Unfortunately, there is currently no othe

[2022-08-04 17:29] #100 closed

[2022-08-05 16:46] #125 closed

[2022-08-05 17:17] #133 closed

[2022-08-05 17:35] jaythegeek commented on #140
Sorry I wasn't able to give a reproducible, I have used a similar method to @aaronksaunders - I am authed wooohooo... Then comes the fun part, on web I can use Firestore DB perfectly as the token is sent with the request and handled as per the Firebase docs.

However, trying to fire a web based firestore request from iOS causes a not authed error - I cannot figure out why this would be the case, I

[2022-08-05 17:52] #13 closed

[2022-08-05 18:03] robingenz commented on #153
I currently do not see enough reasons for this change.

[2022-08-05 18:03] #153 closed

[2022-08-05 18:06] aaronksaunders commented on #140
@jaythegeek - not sure what you are doing but if you followed my approach it should work fine. I just retested my code and I am able to query the database on web and on device.

check out project here - https://github.com/aaronksaunders/mobile-gauth

[2022-08-05 18:19] jaythegeek commented on #140
@aaronksaunders do you have a security rule on that query such as;

[code]
The `request.auth` is not set when performing this from iOS but does work from web, it's strange.

I am imagining your query doesnt have a rule on it like pretty much all of my reads, so it works fine, but just not the authed calls for writes etc.

Any further suggestions would be appreciated, I have no hair as it is! 😂

Lo

[2022-08-05 18:25] aaronksaunders commented on #140
@jaythegeek I have a security rule - also the way my code is written, I can't even get to the query until firebase js SDK fires the authChangedListener, that is why I don't think you are doing exactly what I am doing

[2022-08-05 19:08] jaythegeek commented on #140
@aaronksaunders I have literally taken your `firebase.ts` and swapped out the config, then the `write` I am doing to firestore is like this:

[code]

All my reads and anything without a security rule works great, if I turn that particular security rule off, it works perfectly.

[2022-08-05 19:21] aaronksaunders commented on #140
@jaythegeek can you show me what the output is in your console log?

also, show me how you are ensuring the js initialization has been completed before you render the first component of your app.

happy to move this chat to a discussion since we are off-topic here, this is all a workaround because the plugin doesn't work

[2022-08-05 19:29] jaythegeek commented on #140
@aaronksaunders I have opened a discussion - Yes frustrating have to work around, this is the core function of the plugin :/
@robingenz if we figure it out, I'll come back and update here as it may help to resolve the underlying issue we are working around.

[2022-08-05 19:38] robingenz commented on #140
Yes, feel free to let me know, I appreciate any help. PRs are also welcome!
I'm a bit busy at the moment as I only maintain these open source projects in my spare time and I'm currently updating more than 15 plugins to Capacitor 4.
I will try to work on this issue in a timely manner.
If you can't find a solution and want me to invest extra time and prioritize your issue you are welcome to sponsor

[2022-08-05 19:41] jaythegeek commented on #140
@robingenz I appreciate your position, if we can fix it we will. I am snowed under too and this particular problem is causing me a delay, so I am sure, in the event a few more hours doesn't solve it, we can come to an arrangement 😄

[2022-08-05 19:54] aaronksaunders commented on #140
@robingenz - I appreciate the work, you asked for a sample showing the bug, and I provided it to you... not sure what else there is you are expecting other than I fix the bug and submit a PR.

The fact is the plugin doesn't work, IMHO this is not a bug, it is a missing feature and everything I am doing is a hack to make it work

[2022-08-05 20:05] robingenz commented on #140
@aaronksaunders That's right I have all the info I need to solve the problem. Thanks for that!
I just wanted to let you know why it's waiting so long and what the options are.
The issue is just waiting for me to find time for it. That's all! As I said, I do this in my spare time, which is limited.
You can send a PR if you want to speed up the process. Or you can sponsor the project. If neither is

[2022-08-06 10:45] robingenz commented on #117
Unfortunately I could not find out anything more.
Waiting for https://github.com/gradle/gradle/issues/21462

[2022-08-08 06:39] carlossk opened #173 "bug: 'CapacitorFirebaseAnalytics/Analytics'"
**Plugin(s):**

@capacitor-firebase/analytics@0.5.1

**Platform(s):**

iOS - Xcode Version 13.4.1

**Current behavior:**

✖ Updating iOS native dependencies with pod install - failed!
✖ update ios - failed!
[error] Analyzing dependencies
        [!] There are multiple dependencies with different sources for `CapacitorFirebaseAnalytics` in `Podfile`:

        - CapacitorFirebaseAnalytics (from `../

[2022-08-08 07:57] robingenz commented on #173
Why do you add the pod manually to your Podfile?

The required pods are already included in the plugin Podfile.

[2022-08-08 21:03] carlossk commented on #173
because I have this error  No such module 'FirebaseCore'

<img width="391" alt="image" src="https://user-images.githubusercontent.com/12755233/183514064-80c31625-6590-4b1b-b3a2-3f426f430f28.png">

[2022-08-08 21:08] robingenz commented on #117
I have unfortunately not received a tip either in the [Gradle issue](https://github.com/gradle/gradle/issues/21462) or in [this discussion](https://github.com/ionic-team/capacitor/discussions/5837) and have no more idea myself.

Since it is only a lint error and the project can be built normally, I will ignore the lint error in my projects with a baseline for now (see [Creating a Baseline](https:/

[2022-08-08 21:14] robingenz commented on #173
Okay, it seems like your setup is a little messed up.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug the issue.

Make sure you have followed the setup instructions carefully.

Here you can also find a demo app: https://github.com/robingenz/capacitor-firebase-authenticat

[2022-08-09 00:50] carlossk commented on #173
Hi @robingenz my mistake is that I have the native project in a custom path, I made sure that the relative path was correct, now it works

[2022-08-09 01:19] #173 closed

[2022-08-09 07:05] vaishnavm217 opened #174 "feat: Ability to add tenant ID in the login itself"
**Is your feature request related to a problem? Please describe:**
Currently the library allows only allows tenant ID additions on the providers. Cant see the option present in the signInWithEmailPassword option. For my situation, I cant use the firebase web auth  and need to use the native one. Web auth do have tenant ID option, when the autj object is created

**Describe the solution you'd like:

[2022-08-09 09:51] robingenz commented on #174
Yes, this is missing currently. Thank you for your request!

[2022-08-09 09:54] vaishnavm217 commented on #174
More to add to the experimentation. `Auth.auth().tenantID = "foo"` seems to work.

[2022-08-11 03:10] fryiee commented on #155
@robingenz have you had any more thoughts on this? There's a patch for Flutterfire that someone posted in the parent issue which might be a good starting point? **https://gist.github.com/mbevin/393597735c67575eccf0858c4c17168d**

[2022-08-11 06:05] robingenz commented on #155
Not yet, I was busy with the Capacitor 4 update and another project. Next week I wanted to find a solution and close this issue. Thanks for the hint. I will have a look.

[2022-08-14 10:01] trancee commented on #35
@robingenz Have you made any progress on this one already? If not, I would like to help you out with the implementation.

[2022-08-14 10:16] robingenz commented on #35
@trancee No, there is no progress yet. You are very welcome to contribute! If you have any questions, let me know. Feel free to let me look at the Typescript definitions first before you do the actual implementation (just create a Draft PR).

[2022-08-14 10:24] trancee commented on #35
Sure, I will create the definitions first before starting the implementation and let you review them.

[2022-08-15 10:20] Squix commented on #167
Thanks, I tried the snippet, but Angular still doesn't want to init my firebase app on web, seems to work on device, but I can't try sign in, because I've got another issue with this library though, which I need to solve first (I'm opening a new ticket now).

[2022-08-15 13:31] jjgriff93 opened #177 "feat: AppCheck support"
**Is your feature request related to a problem? Please describe:**
Loving this library thus far. It would be incredibly useful to have a--check support in this library (there's only one capacitor alternative currently and that isn't being maintained and isn't compatible with Cap 4: https://github.com/mattmilan-dev/capacitor-firebase-appcheck

**Describe the solution you'd like:**
Similarly to the

[2022-08-15 14:23] robingenz commented on #177
Great feature request! This plugin is still missing.

If you want, you can do the implementation. I would then create the boilerplate code for the new package and prepare everything.
Just let me know.

[2022-08-16 21:32] RRGT19 opened #178 "bug: when the App is closed completely the notificationActionPerformed listener is not fired"
**Plugin(s):**
- "@capacitor-firebase/messaging": "^0.5.1"

**Platform(s):**
- iOS

**Current behavior:**
When the App is closed (killed) completely and a push notification is sent, you open it from the notifications center and the `notificationActionPerformed` listener is not fired. I don't know if `notificationReceived` is being called, I see no logs.

**Expected behavior:**
`notificationActionP

[2022-08-17 07:31] robingenz commented on #178
Thank you for your request. I will have a look. Should be a bug.

[2022-08-17 12:15] RRGT19 commented on #178
To be sure that the issue is not on the way the FCM payload is sent, I have also tried with this:

**legacy HTTP**

[code]

**HTTP v1**

[code]

Also, I have tried to follow the steps described here:
https://forum.ionicframework.com/t/ios-push-notifications-not-being-received-after-capacitor-2-3-and-ionic-5-6-migration/222497/5

The result is the same, the notification is sent and I can see it on

[2022-08-17 13:26] Squix opened #179 "bug: [ANDROID] Google Sign In throwing Error: Attempt to invoke virtual method on a null object reference"
Hi, first I want to thank you for all your hard work and your quick replies to issues.

Here's some info on my environment :

- Angular 12
- Ionic 6
- Capacitor 4
- Installed plugins :
  -  @capacitor-community/barcode-scanner@3.0.0
  -  @capawesome/capacitor-screen-orientation@2.0.0
  =
  -  @capacitor-firebase/analytics@1.0.0
  -  @capacitor-firebase/authentication@1.0.0
  -  @capacitor-firebase

[2022-08-17 15:39] robingenz commented on #179
Please make sure that `google.com` is in your [configuration](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#configuration) providers array:

[code]

[2022-08-17 18:57] Squix commented on #179
Ok, that was the issue.
I had a typo in this file, wrote *FirebaseAuthentification* instead of **FirebaseAuthentication**.
My bad, thanks for the quick reply !

[2022-08-17 19:06] robingenz commented on #179
You're welcome!
In this case i will close this issue.

[2022-08-17 19:06] #179 closed

[2022-08-18 10:34] zagham-nadeem opened #180 "bug: App Close automatically and not opening I have used authentication plugin"
**Plugin(s):**

 @capacitor-firebase/authentication@1.0.0

**Platform(s):**

- Android Only

**Current behavior:**

- the app crashes right after launch. don't even see splash

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

[code]

[2022-08-18 10:42] robingenz commented on #180
This error occurs when the app is not configured correctly.
Make sure you have followed the [installation instructions](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#installation) carefully.
Did you add the `google-services.json` file?

[2022-08-18 11:30] zagham-nadeem commented on #180
but i now i am getting this error

`
2022-08-18 16:29:21.972 30170-30170/com.thedarkeye.fitify E/Capacitor/Console: File: http://localhost/vendor.js - Line 65929 - Msg: ERROR Error: Uncaught (in promise): Error: 10:
    Error: 10:
        at returnResult (http://localhost/:422:32)
        at win.androidBridge.onmessage (http://localhost/:397:21)
`

[2022-08-18 11:42] robingenz commented on #180
You can fix it this way: https://stackoverflow.com/a/49450870/6731412

[2022-08-18 12:52] zagham-nadeem commented on #180
not resolved same error occour

[2022-08-18 13:03] robingenz commented on #180
Then have a look at this issue please: https://github.com/capawesome-team/capacitor-firebase/issues/51

If it still won't work please provide a minimal, reproducible example so I can debug it.

[2022-08-20 04:47] zagham-nadeem commented on #180
thanks it is solved

[2022-08-20 04:47] #180 closed

[2022-08-20 15:12] robingenz commented on #174
Would you like to test the dev build?

[code]

[2022-08-20 15:45] robingenz commented on #140
I have tried a few things but unfortunately had no success.
I don't get when the app is ready and a listener is active.
There is a load method but it fires too early.

There is one thing I still don't understand: What reason would there even be to listen to the listener at the launch of the app? If you want to know if a user is logged in (to send him to the login page, for example), you can simply

[2022-08-20 15:53] aaronksaunders commented on #140
Mostly because that is the pattern that is used in the Firebase JavaScript API documentation I believe. Pretty much most of the web apps follow the approach of checking for a user before routing vs route to login and the redirect

 If you are suggesting an alternative approach then you should probably provide a sample for people who use the plugin to follow.

Either way it is creating one approach

[2022-08-20 16:11] robingenz commented on #140
This approach can be implemented in different ways.
For example, this is my implementation in the demo app (Angular Guard):

[code]

**So my recommendation is**: If you want to know if a user is logged in at the start of the app, the best way is to check this with [`getCurrentUser()`](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/authentication#getcurrentuser) and not wa

[2022-08-21 07:06] chrisvor opened #182 "bug: iOS build fails with "No such module 'FirebaseCore'""
**Plugin(s):**

Analytics

**Platform(s):**

iOS

**Current behavior:**

 I added the Analytics plugin as per instructions. However when I try to build the iOS app, it fails with "No such module FirebaseCore". Could somebody please help? Production app needing an update.....

**Expected behavior:**

Xcode should build successfully

**Steps to reproduce:**

**Related code:**

[code]

**Other inform

[2022-08-21 07:48] robingenz commented on #182
Did you open the `xcodeproj` file instead of the `xcworkspace` file (see [here](https://stackoverflow.com/a/33946372/6731412))?
Please share all you dependencies (`package.json`).

[2022-08-21 08:14] chrisvor commented on #182
No I opened the workspace using "ionic cap open ios"....

Package.json dependencies:
"dependencies": {
    "@angular-devkit/schematics-cli": "^0.901.13",
    "@angular/cli": "^14.1.2",
    "@angular/common": "^14.1.2",
    "@angular/core": "^14.1.2",
    "@angular/fire": "^7.4.1",
    "@angular/forms": "^14.1.2",
    "@angular/localize": "^14.1.2",
    "@angular/platform-browser": "^14.1.2",
    "

[2022-08-21 09:21] robingenz commented on #182
Maybe your XCode project is messed up: Please remove all temporary XCode files (just delete the whole ios folder and revert the changes via git) and run `npx cap open ios` again.

If this does not help i need a minimal, reproducible example so i can debug the issue.

[2022-08-21 10:07] chrisvor commented on #182
I did that already and recreated the ios project (which is something I didnt want to do as I need to re-do all the icon/graphics/splashscreens again), but the project wouldn't build again, same error.
I have a feeling it's related to the fact that I use @angular/fire as well because I need to call firebase callable functions too.  Before trying this plugin I used to use the capacitor-community plu

[2022-08-21 10:28] robingenz commented on #182
You shouldn't have to, as these files should be in git (as configured by default in a Capacitor app).

`@angular/fire` should not be the problem because it's not related to the native platform.

I currently have no demo app project with which I can reproduce the problem. So I can't help you at the moment. I need to be able to reproduce the problem locally to be able to debug it.
See [How to create

[2022-08-21 13:20] DeveloperAdam-github opened #183 "bug:"
**Plugin(s):**
  plugins: {
    FirebaseAuthentication: {
      skipNativeAuth: false,
      providers: ['apple.com', 'facebook.com', 'google.com'],
    },
  },

**Platform(s):**
iOS

**Current behavior:**
Seems the firebase app is never configured, I have followed set up instructions and still get this everytime.

**Expected behavior:**

**Steps to reproduce:**
Followed the steps to, using a Vue3

[2022-08-21 13:28] DeveloperAdam-github commented on #183
Had to add FirebaseApp.configure() inside the first func application(_application function inside AppDelegate, maybe could add this into the instructions?

However the error has gone now!

[2022-08-21 14:13] chrisvor commented on #182
I created a brand new app, added the ios platform and ran npx cap sync and then npx cap open ios. And the app built find.
I then replaced the generated package.json with the one in my original project. Did npm install to install all the plugins and re-ran npx cap sync and npx cap open ios. The build fails with the error I get in the original project.
I suppose this would help you debug this?

[Upl

[2022-08-21 14:50] TadasMil commented on #140
Don't want to be rude, but `getCurrentUser` function on Android always returns `user` object even when user list inside of `Authentication` table of Firebase is empty. For Web, it works fine.

[2022-08-21 14:58] robingenz commented on #182
Thank you. Please publish the project on GitHub as a reporsitory and post the link here.

[2022-08-21 15:01] robingenz commented on #140
@TadasMil If no user is signed in, `getCurrentUser` should return:
[code]
If this is not the case for you then please create a new issue.

[2022-08-21 15:08] robingenz commented on #183
This message should only be a warning and no error message.
`FirebaseApp.configure()` gets already called by the plugin but not soon enough, so the message appears.
Everything should still work.

I close this as a duplicate of #142.

[2022-08-21 15:08] #183 closed

[2022-08-21 15:14] chrisvor commented on #182
Here it is:

https://github.com/chrisvor/minimal.git

Thanks

[2022-08-21 15:29] TadasMil opened #184 "bug: `getCurrentUser` returns user even when the user is removed from web-based Firebase manually"
**Plugin(s):**
`@capacitor-firebase/authentication`

**Platform(s):**
`Android`

**Current behavior:**
As stated in this discussion [https://github.com/capawesome-team/capacitor-firebase/issues/140](url), the way we should identify if the user is logged in or not during app launch is using `getCurrentUser` function.

Having an empty `Authentication` table of google/facebook logged in users inside

[2022-08-21 16:20] robingenz commented on #184
The User instance is saved by Firebase because you don't want that your users have to log in after every app start or?

If you want to delete the actual user instance you have to sign the user out.

On the web, this needs to be configured (see Firebase docs).

[2022-08-21 16:22] robingenz commented on #184
I am also not sure if I understand you issue correctly. Why should the user table in Firebase be empty after a signin? Do you manually delete the user entry?

[2022-08-21 17:23] TadasMil commented on #184
Oh, I'm sorry for registering the issue. Probably its a falsy one. The only way for detecting manually deleted users using web-based Firebase is using `onAuthStateChanged`.

[2022-08-21 20:17] robingenz commented on #184
I found this SO thread: https://stackoverflow.com/questions/40252218/how-can-i-detect-if-the-user-was-deleted-from-firebase-auth
It says you should call `getIdToken` with the parameter `forceRefresh=true` to immediately find out if a user is still logged in.
If not an error will be thrown.

Otherwise, the ID token should automatically become invalid after about an hour and getCurrentUser should th

[2022-08-21 20:17] #184 closed

[2022-08-21 20:26] robingenz commented on #182
You missed [this step](https://github.com/capawesome-team/capacitor-firebase/tree/main/packages/analytics#ios):

[code]

Please make sure you have followed the installation instructions carefully and try again.

Let me know if the error still occurs.

[2022-08-21 20:27] #174 closed

[2022-08-22 05:03] chrisvor commented on #182
I did update the podfile in my full project, I forgot it on the minimal example. I updated it there too now (github updated) but the issue still exists (as in my full project)

[2022-08-22 10:48] robingenz commented on #140
I maybe found a fix. Could someone test this dev build (Capacitor 4)?

[code]

[2022-08-23 12:08] chrisvor commented on #182
Any suggestions as to what is the problem and how to fix?

[2022-08-23 21:06] robingenz commented on #182
I will look at it this week.

[2022-08-24 07:42] carlossk commented on #178
I have the same issue, any idea about it?

[2022-08-24 21:34] DeveloperAdam-github opened #187 "bug: getCurrentUser doesn't work with Firebase 9.9.3"
I have all the auth set up and actually works fine, I understand there is an issue with getAuth() not working so have added a fix which doesn't resolve anything. So I use the `FirebaseAuthenetication.getCurrentUser()` & `FirebaseAuthenetication.getIdToken()` to TRY and run the updateProfile() from Firebase itself but use the plugin functions instead however it seems Firebase doesn't recognise the

[2022-08-25 05:53] robingenz commented on #187
Please provide a minimal, reproducible example so I can debug your issue.

[2022-08-26 13:10] MateiNenciu opened #188 "bug: AnalyticsService not registered"
**Plugin(s):**

"@capacitor-firebase/analytics": "1.0.0"
"firebase": "9.9.2"

**Platform(s):**

Android

**Current behavior:**

Installed this plugin, made the necessary updates listed here: https://firebase.google.com/docs/analytics/get-started?platform=android but the analytics events are not sent.

If I run the app from android studio I see this error:
"E/GAv4-SVC: Device AnalyticsService not r

[2022-08-27 11:02] DeveloperAdam-github opened #189 "bug: signInWithGoogle"
**Plugin(s):**

 "@capacitor-firebase/app": "^1.0.0",
    "@capacitor-firebase/authentication": "^1.0.0",

**Platform(s):**

iOS

**Current behavior:**

When trying to signInWithGoogle the function runs but no pop up occurs and no data is being returned.
**To Native ->  FirebaseAuthentication signInWithGoogle 60979170** is the message I get in the logs.

**Expected behavior:**

Assume a pop up sho

[2022-08-27 12:01] DeveloperAdam-github commented on #189
<img width="440" alt="Screenshot 2022-08-27 at 13 01 34" src="https://user-images.githubusercontent.com/56017774/187029285-602f1f25-4848-4051-841e-aa0e05fbbc72.png">

This is a console log from Safari about this issue.

[2022-08-27 13:28] robingenz commented on #189
Did you add 'google.com' to the configuration providers array and run 'npx cap sync'?

[2022-08-27 13:50] DeveloperAdam-github commented on #189
Yes and have added the url value from the GoogleService-Info

[2022-08-27 15:00] robingenz commented on #189
Did you add the CapacitorFirebaseAuthentication/Google pod to your Podfile (usually ios/App/Podfile)?

[2022-08-27 15:37] DeveloperAdam-github commented on #189
Yep followed setup instructions and added that.

[2022-08-27 16:00] robingenz commented on #189
Okay, please provide a minimal, reproducible example so I can debug the issue.

[2022-08-27 21:56] Guiditox commented on #140
I did and it works perfect!

Thank you very much for contributing to the community. Excellent plugin!

[2022-08-28 06:02] robingenz commented on #140
@Guiditox Thank you for testing!

[2022-08-28 06:03] #140 closed

[2022-08-28 06:03] #159 closed

[2022-08-28 08:00] erikwalle opened #190 "feat: Update JavaScript SDK docs to provide Play Games sign in example"
**Is your feature request related to a problem? Please describe:**
I can't log in with Play Games Services after upgrading to Capacitor 4 and this package. Hoping an example will help, though I think I don't even get a response from FirebaseAuthentication.signInWithPlayGames()

Further, it seems like the extra step to sign in with the JavaScript SDK (https://github.com/capawesome-team/capacitor-fi

[2022-08-28 08:19] robingenz opened #191 "feat: `skipNativeAuth` option should be configurable per provider"
**Is your feature request related to a problem? Please describe:**

It is currently not possible to log in to the Firebase JS SDK with Apple and Twitter, as Apple requires `skipNativeAuth=true` and Twitter `skipNativeAuth=false` (see [here](https://github.com/robingenz/capacitor-firebase-authentication/issues/93#issuecomment-939459594)).

**Describe the solution you'd like:**

The `skipNativeAuth`

[2022-08-28 08:34] mesqueeb commented on #191
just FYI
your Twitter implementation works with `skipNativeAuth=true` on android, just not on iOS

[2022-08-28 09:56] robingenz commented on #155
You can now test the dev version:
[code]

Example:
[code]

The username is provided by Apple only at the first login.

[2022-08-28 13:57] chrisvor commented on #182
Hi :) Did you get a chance to have a look at this?
Many thanks!

[2022-08-28 17:01] #155 closed

[2022-08-28 17:18] robingenz commented on #190
Hi @erikwalle,
please add all the infos from your mail to this issue.
I will create a dev version for testing for you.

[2022-08-28 18:02] robingenz opened #193 "refactor: remove deprecated code"
Remove all code which is marked as `@deprecated`.

[2022-08-28 20:05] braincomb commented on #140
Hi @robingenz

Tested on Android and I can confirm the listener is firing at start-up as expected.

However, the result is always null. Is it possible because I'm using the JS SDK method of signing in?
[code]

I was forced to use the above method because `const result = await FirebaseAuthentication.signInWithGoogle();` doesn't return `result.user` for me.

So it's possible I'm doing something wron

[2022-08-28 20:26] erikwalle opened #195 "bug: FirebaseAuthentication.signInWithPlayGames() errors every time"
**Plugin(s):**
Running the latest `@capacitor-firebase/authentication` on Capacitor 4.0

**Platform(s):**
Android

**Current behavior:**
Syntax error:
[code]

**Expected behavior:**
Successful Play Games login

**Steps to reproduce:**
Call FirebaseAuthentication.signInWithPlayGames() after all other setup steps

**Related code:**

The problem seems related to a missing credential in `handleOnActiv

[2022-08-28 20:27] erikwalle commented on #190
Hello @robingenz , I have put the details into a full bug report here: https://github.com/capawesome-team/capacitor-firebase/issues/195

This was just a request for additional documentation, thanks!

[2022-08-29 02:13] #142 closed

[2022-08-29 06:47] robingenz commented on #140
@braincomb Yes, if you use 'skipNativeAuth=true' this listener will fire 'null' and no user is returned (only the credentials for the Firebase JS SDK).

[2022-08-29 06:48] robingenz commented on #195
Thank you! I will have a look in the next days.

[2022-08-29 06:50] robingenz commented on #190
Thank you! Did you now manage to log in to Play Games via the Firebase JS SDK? If so, could you share the code snippet here?

[2022-08-29 07:33] MateiNenciu commented on #188
Seems like it. But this looks some ancient answer and honestly I have no idea why it doesn't work without it... I can't find this solution on official documentation.

[2022-08-29 08:19] robingenz commented on #188
I found this comment there:

Does your device have Google Play Services?

Seems like you can also enable debugging with this commands:

'adb shell setprop log.tag.GAv4 DEBUG'

'adb logcat -s GAv4'

Maybe this will help you to find the real problem.

[2022-08-29 09:17] #191 closed

[2022-08-29 09:30] robingenz commented on #195
I will release a new version with your fix soon. Thank you for all the info!

No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp()

This should be another error which is not related to this issue.
Usually this error means that you are not calling `firebase.initializeApp(...);` early enough.
However, I need to see the code to be able to help you. Maybe you can create a m

[2022-08-29 09:36] #195 closed

[2022-08-29 10:10] robingenz commented on #182
I could reproduce your issue. Something was wrong with your `project.pbxproj` file. After removing and adding the ios platform I had the following content:

<details>
<summary>Details</summary>

[code]
</details>

This way it worked for me.

[2022-08-29 11:23] chrisvor commented on #182
In other words to fix it I should remove the iOS folder and rerun npx cap add ios?

In this "minimal" project, it's a brand new project and the platforms were added when I created the minimal project for this submission.... I fear removing and recreating won't solve it for me. It's probably something "deeper", i.e. the way npx is creating the platform maybe? Any configuration for npx that affects

[2022-08-29 11:28] robingenz commented on #182
Yes

Maybe. But this is hard for me to debug. Do you use the latest XCode version?

[2022-08-29 11:59] chrisvor commented on #182
yes, there are no other pending updates
anything you can guide me to check on my side?

[2022-08-29 16:20] chrisvor commented on #182
@robingenz  are you sure the project you tested has firebaseAnalytics added? the project.pbxproj you gave me above does not have any reference to FirebaseAnalytics, whereas my version of the same file has:
/* Begin PBXBuildFile section */
(......)
838C9DB928B4F1EA00E30F4A /* FirebaseAnalytics in Frameworks */ = {isa = PBXBuildFile; productRef = 838C9DB828B4F1EA00E30F4A /* FirebaseAnalytics */; };

[2022-08-29 17:04] robingenz commented on #182
Yes, look at the official demo app for example: https://github.com/robingenz/capacitor-firebase-plugin-demo/blob/main/ios/App/App.xcodeproj/project.pbxproj
This reference is not needed.
Just try the demo app.

[2022-08-30 09:37] typefox09 commented on #155
Have tried using the updated dev package, it doesn't seem to be working:

const result = await FirebaseAuthentication.signInWithApple()

result.user is undefined?

[2022-08-30 09:41] robingenz commented on #155
No, I have not tested it yet. I will test all commits together this week before I release the next version.

[2022-08-30 09:44] typefox09 commented on #155
I'm not an expert with Swift but the issue might be coming from the below function:

When using skipNativeAuth I think you're not passing the user credential (as you're not signing in on the native layer).

That means the following will never return the display name as the user is being passed as nil:

`    public static func createUserResult(_ user: User?, displayName: String?) -> JSObject? {

[2022-08-30 09:51] robingenz commented on #155
@typefox09 Yes, i found it.
Can you try it again with this version?

[code]

[2022-08-30 09:55] typefox09 commented on #155
Yep, can confirm that works, nice :).

[2022-08-30 10:31] robingenz commented on #155
Thank you for testing!

[2022-09-01 11:10] Aidenjl193 commented on #182
We're experiencing the same issue and rebuilding the iOS folder hasn't fixed it for us.

[2022-09-01 11:48] robingenz commented on #182
Hi @Aidenjl193,
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug the issue.

[2022-09-01 17:55] robingenz commented on #182
@Aidenjl193 You missed one setup step. Please have a look at this comment: https://github.com/capawesome-team/capacitor-firebase/issues/182#issuecomment-1221615111

[2022-09-01 20:50] chrisvor commented on #182
I forgot to update this with my findings:  I removed iOS folder and re-added the platform but the issue was NOT fixed. And then I tried removing the capacitor-firebase/authentication plugin, and then re-added it (without rebuilding between the two). The issue was fixed then. I dont know the reason....

[2022-09-02 08:22] Aidenjl193 commented on #182
I have "pod 'CapacitorFirebaseAnalytics', :path => '../../node_modules/@capacitor-firebase/analytics'" in there, changing the CapacitorFirebaseAnalytics to CapacitorFirebaseAnalytics/Analytics just gets reverted to CapacitorFirebaseAnalytics upon building.

Am I missing something here?

[2022-09-02 08:32] Aidenjl193 commented on #182
Yeah, I was being a silly goose. Turns out I was looking at the def capacitor_pods block above instead of the app block below. Thanks for the help

[2022-09-02 08:45] nowitz opened #199 "bug: Error: "FirebaseAnalytics" plugin is not implemented on ios"
**Plugin(s):**
Analytics

**Platform(s):**
iOS

**Current behavior:**
After I added pod, cap sync, etc. and run app on emulator, I have problem with:
`[error] - ERROR Error: Uncaught (in promise): Error: "FirebaseAnalytics" plugin is not implemented on ios
CapacitorException@capacitor://localhost/vendor.js:1469:10
createPluginMethod@capacitor://localhost/vendor.js:1591:37
@capacitor://localhost/ve

[2022-09-02 08:52] robingenz commented on #199
Please have a look at the official Troubleshooting guide: https://capacitorjs.com/docs/ios/troubleshooting#plugin-not-implemented

[2022-09-02 08:54] robingenz commented on #182
Great, in that case both of you no longer have the problem and I can close the issue.

[2022-09-02 08:54] #182 closed

[2022-09-02 09:31] nowitz commented on #199
I tried but still the same problem.
My settings:
Info.plist:
<img width="1270" alt="Snímek obrazovky 2022-09-02 v 11 29 07" src="https://user-images.githubusercontent.com/12040747/188110051-48ff0982-ad38-4a0d-aeea-82275feda7dd.png">

Capacitor-config:
<img width="1274" alt="Snímek obrazovky 2022-09-02 v 11 27 49" src="https://user-images.githubusercontent.com/12040747/188110036-e4100de2-d0d2-495

[2022-09-02 09:33] robingenz commented on #199
Please provide a minimal, reproducible example so I can debug the issue.

[2022-09-02 11:47] nowitz commented on #199
Very minimal example @robingenz:
[nowitz-zcu-stag-8b4067437435.zip](https://github.com/capawesome-team/capacitor-firebase/files/9477580/nowitz-zcu-stag-8b4067437435.zip)

[2022-09-02 12:18] robingenz commented on #199
Please publish your example on Github in a repository.

[2022-09-02 12:41] nowitz commented on #199
@robingenz  https://github.com/nowitz/fba

[2022-09-02 12:58] robingenz commented on #199
Thank you! I will have a look soon.

[2022-09-02 13:18] nowitz commented on #199
No problem. But I removed my googleService files for safety. When you run app. You will see Error: not implemented
CapacitorException@capacitor://localhost/vendor.js:1469:10 and after you click on button, you will see problem with plugin.

[2022-09-03 11:01] robingenz opened #200 "refactor: use `getMessage` instead of `getLocalizedMessage`"
Parsing the error messages is currently difficult, because they can be printed in different languages.
We should use `getMessage` instead of `getLocalizedMessage`.

[2022-09-04 09:08] robingenz commented on #199
I could reproduce your issue.
I have removed the iOS platform and added it back.
I also removed admob as it was not used anywhere.

Now it works:

[code]

[2022-09-05 09:41] #199 closed

[2022-09-06 09:32] phoheisel commented on #177
I would love to see that! Is there any other known way to get app check running witch cap4?

[2022-09-06 09:51] robingenz commented on #177
I am currently not aware of any. The plugin is still planned but I currently have little free time.

[2022-09-08 09:50] jirihajek opened #202 "bug: Twitter and Apple logins don't work"
**Plugin(s):**
@capacitor-firebase/authentication@1.0 (and the latest dev version as well)

**Platform(s):**
Android

**Current behavior:**
Login to Twitter or Apple results in the following error on the Android device:

[code]

**Steps to reproduce:**
`await FirebaseAuthentication.signInWithTwitter({ skipNativeAuth: false })` or `await FirebaseAuthentication.signInWithTwitter({ skipNativeAuth: tr

[2022-09-08 14:17] jirihajek commented on #202
Thanks for your reply! As for the correct SHA-1 solution from SO, I think that I've got this right, since I not only manually checked the hash, but also FB and Google logins work fine from the compiled Android app (and they didn't until the hash was correctly configured). I don't see any reason why Twitter wouldn't work, since its only specific configuration is also definitely correct, as I can lo

[2022-09-12 19:09] corcorb commented on #189
@DeveloperAdam-github It's likely a different issue but I was having the same behavior and it was because I put the ` pod 'CapacitorFirebaseAuthentication/Google', :path => '../../node_modules/@capacitor-firebase/authentication'` under `def capacitor_pods` and not under `target 'App' do\ncapacitor_pods` in `Podfile`. Took me a couple hours to figure that out so posting just in case that's your iss

[2022-09-15 02:24] #167 closed

[2022-09-15 10:07] CraigRonald555 commented on #173
@carlossk Do you mind telling me where you changed the path? I have this same issue, but don't quite follow what you meant in your response. Thanks!

[2022-09-15 20:20] CraigRonald555 commented on #173
@carlossk

thanks for responding, that makes sense… unfortunately didn’t fix my problem :( looks like I may have to update my capacitor to get to the latest version of this plugin

[2022-09-17 06:56] aaronksaunders commented on #140
has anyone tested this on ios because this fix is not working for me? i guess I am doing something wrong because the event listener is never firing
[code]

[2022-09-20 06:54] ngarel commented on #189
@corcorb I confirm that this is now working, however where in the doc is it mentioned that we have to set it this way?

[code]

[2022-09-20 06:57] robingenz commented on #189
@ngarel See https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/setup-google.md#ios

[2022-09-20 07:02] ngarel commented on #189
Right...for some reason I was seeing:
` pod 'CapacitorFirebaseAuthentication', :path => '../../node_modules/@capacitor-firebase/authentication'` which was already there...Didn't read it properly even though i visited this page a dozen times...

Thanks!

[2022-09-20 07:27] yazinsai opened #204 "bug: MISSING_OR_INVALID_NONCE : Duplicate credential received. Please try again with a new credential."
**Plugin(s):**

- "@capacitor-firebase/authentication": "^0.3.0",
- "@capacitor-firebase/messaging": "^0.3.0",

**Platform(s):**

iOS

**Current behavior:**

When I attempt to login using "Sign in with Apple" **on an iOS device**, the authentication process fails with the following error returned from `https://identitytoolkit.googleapis.com/v1/accounts:signInWithIdp?key=xxx`:

[code]

**Expected b

[2022-09-20 07:52] robingenz commented on #204
Thank you. I will have a look as soon as possible.

[2022-09-20 08:52] robingenz commented on #204
Yes, please see https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md#quirks

In this case I will close this issue.

[2022-09-20 09:31] yazinsai commented on #204
While setting `skipNativeAuth: true` fix the Apple Sign In issue, it appears to cause `createUserWithEmailAndPassword` / `signInWithEmailAndPassword` to fail. How can I get them both to work?

I've tried setting `skipNativeAuth: true` for `createUserWithEmailAndPassword` / `signInWithEmailAndPassword` but it's [not supported](https://github.com/capawesome-team/capacitor-firebase/blob/main/packages

[2022-09-20 18:47] yazinsai commented on #204
Worked, thanks!

For anyone else out there that may be facing a similar issue, I wanted to avoid upgrading to Ionic 4 (which might introduce all sorts of other compatibility issues), so I just patched my existing version of `capacitor-firebase` with the changes in the PR @robingenz linked to https://github.com/capawesome-team/capacitor-firebase/pull/194#issuecomment-1229526459 (using `patch-packag

[2022-09-21 21:25] LynearIngression commented on #65
I have a similar problem on iOS with Apple.

This is a problem because in order to pass apple review you have to have in-app account deletion and sign-in revoking.  To revoke an apple login you need either the accessToken or the refreshToken.

https://developer.apple.com/documentation/sign_in_with_apple/revoke_tokens

FirebaseAuthentication.signInWithApple()

On web I get this:
{
    "user": {

[2022-09-22 10:18] basvdijk opened #205 "feat: Improve documentation about adding the Firebase SDK"
**Is your feature request related to a problem? Please describe:**

Most Capacitor plugins do not require to add an SDK to the iOS or Android project itself.

**Describe the solution you'd like:**

A clear instruction how to add the SDK to my project. The firebase documentation to which is linked assumes you have a 100% native app. For example on iOS it is unclear for me to which project I have to

[2022-09-23 09:59] basvdijk commented on #205
@robingenz I decided to write my own documentation for Android and iOS. Also added a demo project in order to test Firebase Analytics screen changes. Maybe my documentation could be helpful to other developers: https://github.com/basvdijk/capacitor4-firebase-analytics-example-project-capawesome-team

[2022-09-24 04:43] erikwalle commented on #195
Thanks @robingenz , I think my last attempt was missing that integration step entirely.

I will attempt another integration soon, can I use the latest release or is there a version you recommend? Thanks again!

[2022-09-24 08:21] robingenz commented on #195
You can use the latest dev version:
[code]

[2022-09-24 08:22] robingenz commented on #205
@basvdijk Thank you! I will use this as inspiration.

[2022-09-24 08:34] robingenz commented on #202
Unfortunately I can't help you as long as I can't reproduce and debug the issue.

These issues seem to have the same problem:
- https://github.com/googleapis/google-cloud-java/issues/1697
- https://github.com/apache/cordova-cli/issues/429

[2022-09-25 02:18] #187 closed

[2022-09-25 03:20] mailinger-mate opened #206 "bug: getCurrentUser() returns null"
**Plugin(s):**
"@capacitor-firebase/authentication": "^1.0.0"

**Platform(s):**
Web

**Current behavior:**
After succesfully authenticating with `signInWithEmailAndPassword()` the `getCurrentUser()` call returns `{ user: null }`, despite the API call returning the user:
[code]

**Expected behavior:**
The `getCurrentUser()` call should return the user as receveid from the API when reloading the web

[2022-09-25 04:37] fromage9747 commented on #158
@robingenz Thanks for all your help so far on discord.

Is there any way to get action buttons with background push notifications?

[2022-09-25 06:06] robingenz commented on #158
Not yet. It is planned, but this feature is quite complex and will take some time.

[2022-09-25 06:49] fromage9747 commented on #158
Anything I can do to help. Let me know.

[2022-09-25 07:16] robingenz commented on #206
After a page reload Firebase needs a short time to load the current auth state. You can use the `authStateChange` listener to get notified.

For example, this is a code snippet (Angular + rxjs) I use in my apps:
[code]

[2022-09-26 11:44] #35 closed

[2022-09-27 12:33] DwieDima commented on #36
Hi @trancee thanks a lot for the PR!
Is there any way to get `skipNativeAuth` working together with magic link auth?

[2022-09-27 13:09] robingenz commented on #36
Implemented in #172

[2022-09-27 13:09] #36 closed

[2022-09-28 15:30] Valonfeka opened #207 "bug: Google calendar scops"
**Plugin(s):**

CapacitorFirebaseAuthentication/Google

**Platform(s):**

IOS

**Current behavior:**

I am adding the scope to ask for the permission of Calendar API but from what I see so far it's not working.

**Expected behavior:**

Needs to get ask for permission of the Calendar API

**Steps to reproduce:**

**Related code:**

[code]

**Other information:**

**Capacitor doctor:**

Latest Depen

[2022-09-28 16:53] robingenz commented on #207
I don't have any experience with this so far but it seems it's a bit more complex and you have to manage the OAuth access tokens yourself, see:
- https://github.com/firebase/firebase-js-sdk/issues/519
- https://www.youtube.com/watch?v=Bj15-6rBHQw

[2022-09-29 02:21] #190 closed

[2022-09-29 02:21] #188 closed

[2022-09-30 11:59] shreyasPL opened #208 "bug: scopes of email and name for Apple sign-in is not working on ios devices (simulator and physical apple devices)"
**Plugin(s):**

CapacitorFirebaseAuthentication - version - 1.1.0 - latest one where signin with displayname was fixed.

**Platform(s):**

Affected only on IOS device, android it is working fine.

**Current behavior:**

1. Not returning email and name from provider credential information on iphone 13 - Running on ios 15.6

**Expected behavior:**

1. Supposed to return email and name from provider

[2022-09-30 12:16] shreyasPL opened #209 "bug: Prompt select_account as customParameters is not working on signInWithGoogle."
**Plugin(s):**

1. CapacitorFirebaseAuthentication - version - 1.1.0

**Platform(s):**
1. Android
2. ios

**Current behavior:**

1. google signin prompt's to select the google accounts(since users will have multiple google accounts) only once at the beginning of the user's app cycle.
2. If I logout and try to login again with the google signin, the google's select account prompt is not popping out

[2022-09-30 23:48] crowbait opened #210 "bug(messaging): `notificationReceived` fires only for the last message received while the app is killed"
**Plugin(s):**

"@capacitor-firebase/messaging": "^1.1.0"

**Platform(s):**

Android

**Current behavior:**

If a data-only notification is received while the app is killed or the device is in doze, the `notficationRecieved` listener event does not fire. When the app is opened the next time, the listener fires only for the last message recieved while the app was killed. Every other message is drop

[2022-10-01 06:22] robingenz commented on #210
Thank you for your request. I will have a look. Should be a bug.

[2022-10-01 09:42] robingenz commented on #210
I looked at it and was able to reproduce the problem. The problem also exists on iOS. However, I cannot currently fix the bug on iOS because Capacitor does not allow it. I have created a feature request. (see https://github.com/ionic-team/capacitor/issues/5967)
As soon as Capacitor supports it, I will fix it on Android and iOS.

[2022-10-01 09:44] robingenz commented on #209
Please have a look at https://github.com/robingenz/capacitor-firebase-authentication/issues/129.
Does this help you?

[2022-10-01 09:48] shreyasm312 commented on #209
Hey, Thank you for the reply.
1. Yes, it does work fine, after I signout of the application successfully.
2. So you mean to say, there is no support for Google oauth options.
If that's the case,
Is this is in scope of development in any time future?
Thank you.

[2022-10-01 10:37] Traxx2012 commented on #210
From the issue you opened, I read that immediate handling of data-only notifications (eg displaying a local notification in response) isn't even the intended behavior? So the fact that (although just one) notifications are handled only when the app launches the next time is intended?

[2022-10-01 11:03] robingenz commented on #209
I will look at it again.

[2022-10-01 12:16] robingenz commented on #210
It is the intended behavior, but only if the application is running in the background (so only if the application was not force closed).

[2022-10-01 13:00] robingenz commented on #178
Please give this dev version a try:

[code]

[2022-10-01 13:31] robingenz commented on #209
It seems like `GoogleSignInClient` does not custom parameters.
I will update the documentation.
I recommend to log out the user before the new login process starts.

[2022-10-01 13:33] #209 closed

[2022-10-01 13:49] robingenz commented on #208
I just tested it again and it works on my device:
![grafik](https://user-images.githubusercontent.com/13857929/193412657-100ab130-91db-4612-b935-44e986227a19.png)

Make sure you delete the Firebase user entry and revoke the Apple ID access correctly.

[2022-10-01 14:32] robingenz commented on #65
@lucasschulte There were several bug fixes in the past and the Firebase iOS SDK was also updated. Please test if the problem still exists in version 1.1.0 of the plugin.

@LynearIngression Unfortunately, the SDK does not give me access to the Apple Access Token but to the Authorization Code. With the authorization code it works, see [this SO answer](https://stackoverflow.com/a/72876563/6731412).
H

[2022-10-01 14:46] robingenz commented on #162
Closed by a6a0720b9151492bbcf029bd26f8907030bd3359.

[2022-10-01 14:46] #162 closed

[2022-10-01 17:27] Traxx2012 commented on #210
Is there any way of achieving exactly that? Handling notifications while the app has been killed?

[2022-10-01 18:06] robingenz commented on #210
Yes, with native code (e.g. Capacitor Plugin).
What is your specific use case?

[2022-10-01 18:16] Traxx2012 commented on #210
Chat feature in the app should display notifications as soon as they come (minus delay and restrictions, but before the user manually opens the app). As user could still just dismiss the notification, I need to perform operations on it before the user can dismiss it - so normal message notifications are unfeasible and data notifications don't work from within JS. So guess that means I have to lear

[2022-10-01 18:26] robingenz commented on #210
You could send two notifications (one Notification message and one Data message) at the same time. This is how a client of mine does it with a similar problem.
Maybe this would also be a solution for you.

[2022-10-01 18:43] Traxx2012 commented on #210
That is a nice idea. However, it would mean double the calls to firebase cloud functions (if I had a server that could handle a call on every message, I'd just save them to the DB and fetch them on login)... So yes, I think I will have to investigate the Java side of things in the coming days.

[2022-10-02 01:00] Traxx2012 commented on #210
Just for the sake of being thorough: I just tested the behavior in a production (non-debug) app via internal testing track on google play.
- messages before the most recent one still get dropped when the app opens
- data-messages don't get handled if the app has been swiped ("closed") from recent apps tray; should be passed to listener on next app launch then

I did this test because I learned tha

[2022-10-02 19:28] Traxx2012 commented on #210
This might be a bit off-topic, but for anyone passing here on the hunt for a solution to my problem, adding your own FirebaseMessagingService extender doesn't play well with capacitor either. I've written about that here: https://github.com/ionic-team/capacitor-plugins/issues/1211

[2022-10-03 16:06] RRGT19 commented on #178
@robingenz
That version is working good from all points of view, app open/closed/killed, etc...
:)

[2022-10-03 17:31] #178 closed

[2022-10-04 09:25] ubaranzorlu commented on #205
Support

[2022-10-05 13:48] josuelmm opened #217 "feat: createChannel and deleteChannel Android"
Currently the PushNotifications plugin @capacitor/push-notifications
Allows you to create channels and delete them, this only applies to Android, it would be nice to add it.

[2022-10-05 14:16] robingenz commented on #217
Yes, definitely.

I close this issue as duplicate of #94.

[2022-10-05 14:16] #217 closed

[2022-10-08 08:03] aligassan opened #220 "bug: FirebaseAuthentication signInWithGoogle Error 10 :"
**Plugin(s):**

[capacitor]        @capacitor-firebase/app@1.1.0
[capacitor]        @capacitor-firebase/authentication@1.1.0

**Platform(s):**

Android

**Current behavior:**

When l try to signInWithGoogle the function runs and l have a pop-up occurs and data is returned Error 10.

**Expected behavior:**

After a pop-up asking me to sign in with google occurs and data he should returned successfu

[2022-10-08 16:26] robingenz commented on #220
Hi @aligassan,
thank you for your request.
This is a configuration error.
Please have a look at this comment: https://github.com/robingenz/capacitor-firebase-authentication/issues/97#issuecomment-961470725

[2022-10-08 17:47] alpfactory-alex commented on #41
@robingenz Do you already have a timeline in your mind for this? Just curious whether its worth it to use the Firebase JS SDK for now and wether we could easily switch then later.

Great work you're doing!

[2022-10-09 02:37] maxbarry opened #221 "bug: signInWithCredential() generates CORS error on "capacitor://localhost" on iOS"
**Plugin(s):**
@capacitor-firebase/authentication

**Platform(s):**
iOS

**Current behavior:**
When following the steps [documented here for signing into Firebase JavaScript SDK](https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md), calling `signInWithCredential` generates a CORS error saying `capacitor://localhost is not allowed`.

[code

[2022-10-09 07:51] robingenz commented on #41
@alpfactory-alex Not yet. Migrating from the Firebase JS SDK to the plugin should be easy, as I'm trying to adopt the interfaces.

[2022-10-09 07:57] robingenz commented on #221
Seems like a duplicate of https://github.com/firebase/firebase-js-sdk/issues/5020.
Make sure you use Firebase JS SDK Version 9.8.2 or later.

[2022-10-09 09:37] maxbarry commented on #221
Wow, that was a fast reply, thank you so much.

I have seen that bug and it does indeed look very similar. But I'm on firebase@9.11.0 and editing `capacitor.config.ts` to add `server: { iosScheme: "ionic" }` results in the same CORS error, only now complaining about "ionic://localhost" rather than "capacitor://localhost".

[code]

Thank you again and for your amazing work on this package.

[2022-10-09 11:39] robingenz commented on #221
Okay, then please have a look at this issue: https://github.com/ionic-team/capacitor/issues/5531

[2022-10-09 11:54] maxbarry commented on #221
Thanks again! I have also looked at that bug, but it seems to be about AngularFire, while I'm using Ionic React.

[2022-10-09 12:32] robingenz commented on #221
AngularFire is just a wrapper for the Firebase JS SDK.
Try to adjust the initialization of the Firebase JS SDK according to the SO answer:
[code]

[2022-10-09 23:36] maxbarry commented on #221
Aha! Yes, this worked, and led me to https://github.com/firebase/firebase-js-sdk/issues/5019#issuecomment-1213244332 which I believe is my bug. Signing in & out is now working on both web & device, which means signed-in users are authenticated when they make database write/update requests to the Firestore Cloud DB. Hooray! Thank you so much.

So my `firebase.js` file now contains:
[code]
For signi

[2022-10-10 04:46] robingenz commented on #221
Great, thanks for sharing.
In this case I will close this issue.

[2022-10-10 04:46] #221 closed

[2022-10-11 09:18] aaronksaunders commented on #140
That’s the bug…

On Mon, Aug 1, 2022 at 6:09 AM Robin Genz ***@***.***> wrote:

--

--

Aaron K. Saunders
CEO Clearly Innovative Inc
***@***.***
www.clearlyinnovative.com

This email message and any attachment(s) are for the sole use of the
intended recipient(s) and may contain proprietary and/or confidential
information which may be privileged or otherwise protected from disclosure.
Any unauthori

[2022-10-12 19:10] LynearIngression commented on #65
Hi thank you for the fix.

I am in the middle of updating to Capacitor4 and I broke everything.  I am updating to the newest authentication while I am at it.  I can exchange the authorization code for the tokens I need server-side.

I also need displayName which I believe apple only ever sends once, ever, per account (unless you revoke).  I think I see it added, so I will test it once I have finis

[2022-10-18 13:27] swapnaliDeveloper opened #222 "bug : signInWithPhoneNumber not validating SMS code"
**Plugin(s):**

[@capacitor-firebase/authentication](https://www.npmjs.com/package/@capacitor-firebase/authentication)
v - 1.1.0
v - 0.5.1
v - 0.2.2
plugin called with latest versions , getting same output in dev , production environment

**Platform(s):**

android
ios

**Current behavior:**

accepting any verification(random code other than actual SMS code) code in const result = await FirebaseAut

[2022-10-18 14:38] himavan opened #223 "Getting no such module FirebaseCore error in Xcode"
Getting this issue on iOS
[code]

On android it is working fine

using capacitor 4

results from capaciotr doctor

[code]

[2022-10-18 15:05] robingenz commented on #223
Duplicate of #182

[2022-10-20 17:07] davebanguilan commented on #222
Can you please create a small project in Github so that I can replicate it. Please include the `./android` folder

[2022-10-21 01:53] #189 closed

[2022-10-21 16:23] lincolnthree commented on #33
Hi, was a solution ever found to this? We are getting an issue where Facebook Compliance is unable to successfully test our Login integration because they are getting this error -- we can't seem to reproduce it on any other devices. But it's this exact same error.

The login pop-up window just shows them a white screen.

Is there any way to get CapacitorFirebase to use redirect instead of PopUp?

[2022-10-21 17:03] robingenz commented on #33
Unfortunately there is no solution so far.

- Android/iOS: not possible
- Web: not implemented

[2022-10-21 18:03] swapnaliDeveloper commented on #222
Yes will share within day

[2022-10-21 18:57] lincolnthree commented on #33
Right.

Yes, this is the platform I was wondering about. I suppose we could call the Firebase API manually. Any plans for supporting this? Thanks.

[2022-10-21 19:32] robingenz commented on #33
Yes

Not yet, but feel free to create a feature request and I'll put it on the raodmap.

[2022-10-23 23:44] maxbarry commented on #26
Just wondering if this is likely, or if a workaround exists?

I'm migrating a web project to multiplatform with existing Firebase phone users, and I'm not sure how to allow them to sign in on the web now.

[2022-10-24 07:22] robingenz commented on #26
You can just use the Firebase JS SDK directly. The web implementation of this plugin is just a wrapper for easier use on all platforms.

[2022-10-24 16:46] lincolnthree opened #224 "feat: support for `loginWithRedirect()`"
**Is your feature request related to a problem? Please describe:**

Requesting support for `loginWithRedirect()` instead of PopUp, for web environments where we know pop-ups won't work and should not be attempted. Like electron, or other single-page platforms.

**Describe the solution you'd like:**

The CapacitorFirebase login/connect/etc APIs should support `opts: { mode?: 'popup' | 'redirect' }`

[2022-10-24 16:51] lincolnthree commented on #33
Done, thanks: https://github.com/capawesome-team/capacitor-firebase/issues/224

[2022-10-25 02:24] #202 closed

[2022-10-26 01:59] #206 closed

[2022-10-27 06:45] maxbarry commented on #26
Thanks for the guidance. I have it working! For anyone looking, below is an Ionic + React implementation that provides phone sign-in on both native devices and the web, and signs the user into both layers of Firebase authentication.

[code]

[2022-10-27 09:41] swapnaliDeveloper commented on #222
Hi @davebanguilan , repository is created as suggested and android folder included => https://github.com/swapnaliDeveloper/capacitor-otp
, please have a look and let me know if any changes required ...

[2022-10-28 05:07] dodomui opened #229 "bug: CocoaPods could not find compatible versions for pod "Firebase/CoreOnly""
After update this plugin from version 0.3.0 will get following error.

✖ Updating iOS native dependencies with pod install - failed!
✖ update ios - failed!
[error] Analyzing dependencies
        [!] CocoaPods could not find compatible versions for pod "Firebase/CoreOnly":
        In Podfile:
        CapacitorCommunityFirebaseAnalytics (from `../../node_modules/@capacitor-community/firebase-analyti

[2022-10-28 06:07] robingenz commented on #229
Please use the Capacitor Firebase Analytics plugin from this repository to make sure that the native SDKs have no version conflict: '@capacitor-firebase/analytics'.

[2022-10-28 06:07] #229 closed

[2022-10-28 10:53] yaberkane05 opened #230 "bug: (Android only) signInWithFacebook() doesn't trigger appStateChange nor authStateChange after successful login"
**Plugin(s):**

FirebaseAuthentication

**Platform(s):**

Android

**Current behavior:**

Calling signInWithFacebook() on android and successful login return to the app but doesn't add user to firebase authenticated users, doesn't trigger appStateChange nor authStateChange and the app navigation is stuck and considered still inactive.
this works successfully on web and iOS.
**Expected behavior:**

[2022-10-28 13:47] robingenz commented on #230
Hi @yaberkane05,
thank you for your request.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug the issue.

[2022-10-29 01:50] #207 closed

[2022-10-31 04:48] swapnaliDeveloper commented on #222
hi ... is there any update ...?

[2022-11-01 16:35] robingenz commented on #162
@EinfachHans Oops, I totally forgot. 😄 It will be released in 5 minutes, thank you!

[2022-11-02 22:39] gerardopar opened #232 "signInWithCredential cannot sign in on web layer"
I am trying to log the user on the native + Web layer ... but the following only seems to log me into the native layer.
The following example is from the docs found here [Using Javascript SDK](https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md)

[code]

**Additional context:**

Been looking through the firebase SDK docs .. but haven't fo

[2022-11-02 22:51] robingenz commented on #232
You are right. Seems like this example is not for the Firebase JS SDK docs.
Please try the following:

[code]

(@trancee Did we mix things up here?)

[2022-11-02 23:05] gerardopar commented on #232
@robingenz thank you for the swift response ⚡️🤠!! I went ahead & updated my code to use the above & that solved my issue!

Love the plugin btw!!

[2022-11-02 23:07] robingenz commented on #232
@gerardopar That's great, thank you! I will update the docs. Let me know if you have any more questions.

[2022-11-02 23:16] #232 closed

[2022-11-02 23:26] robingenz commented on #222
Hi @swapnaliDeveloper,
The result of `FirebaseAuthentication.signInWithPhoneNumber({ verificationId, verificationCode, });` is only `undefined` if you pass an incorrect verification code, right?
With the correct verification code it works?

So this issue is just about throwing an error message instead of returning `undefined`, right?

I want to make sure I understand the problem.

[2022-11-03 06:12] trancee commented on #232
Indeed, seems like I forgot to update the example after having changed the return value from the `isSignInWithEmailLink` method. Sorry about that, and thanks for reporting and fixing it.

[2022-11-03 07:42] mesqueeb commented on #224
@lincolnthree
Just a friendly FYI on related info.
please note that login with redirect is currently completely broken on Safari 16.1, which is already used worldwide.

more info at:
https://github.com/firebase/firebase-js-sdk/issues/6716

[2022-11-03 07:47] robingenz commented on #232
@trancee No problem, all good. I wasn't sure if I was missing something. 😁

[2022-11-04 06:13] swapnaliDeveloper commented on #222
Hi @robingenz ,
I am able to fixed undefined response with skipNativeAuth: false
by making skipNativeAuth: false , able to fetch authStateChange Listener and error responce for the invalid opt (000000)
i have using following code implementation by referring https://github.com/robingenz/capacitor-firebase-authentication-demo
``      try {
          await this.firebaseAuthenticationService.signInWit

[2022-11-04 09:14] robingenz commented on #222
Glad to see it's working now.
In that case I will close this issue now.

[2022-11-04 09:14] #222 closed

[2022-11-04 16:30] jjgriff93 commented on #177
Hello guys, sorry for the delay but I have put together an implementation for this and opened a PR (#237), let me know what you think (and please test it)!

[2022-11-05 23:05] robingenz commented on #177
A first dev version is now available for testing:

[code]

[2022-11-06 09:50] robingenz opened #241 "feat(app-check): support `tokenChanged` listener on Android and iOS"
**Is your feature request related to a problem? Please describe:**

The `tokenChanged` listener is currently only supported on Web.

**Describe the solution you'd like:**

Support the `tokenChanged` listener also on Android (see [docs](https://firebase.google.com/docs/reference/android/com/google/firebase/appcheck/FirebaseAppCheck#addAppCheckListener(com.google.firebase.appcheck.FirebaseAppCheck.A

[2022-11-06 14:46] alexookah commented on #26
I would also like to see FirebaseAuth possible also for web

[2022-11-08 01:48] #220 closed

[2022-11-08 15:53] morethal commented on #230
The same is happening for me as well.

I used the sample code for the JS login. This works for the Google login, but the Facebook login is not updating, once the Facebook login workflow returns back to my app.

This is the code I am using (copied from the samples)
[code]

[2022-11-08 16:42] 24jr opened #242 "No such module 'FirebaseCore'"
/node_modules/@capacitor-firebase/analytics/ios/Plugin/FirebaseAnalytics.swift:4:8: No such module 'FirebaseCore'

I previously had set up with https://github.com/capacitor-community/firebase-analytics/pull/123 which no longer works for capacitor v4 so switching to this if works

this is podfile I have do i need to do something else? When I play the app in xCode I get the above error
[code]

[2022-11-08 17:17] morethal commented on #230
Thanks for the swift reply @robingenz.

It appears as if the promise of `FirebaseAuthentication.signInWithFacebook();` is never resolved. I added a log before and after, the log before is executed, the after is not. The whole UI is frozen. If I press the back button in Android, the sign in is canceled and the promise is rejected.

I also tried to use indexedDBLocalPersistence with not success.

[c

[2022-11-08 17:27] robingenz commented on #242
I close this issue as duplicate of #182

[2022-11-08 17:28] #242 closed

[2022-11-08 17:33] robingenz commented on #230
@morethal  This is exactly the problem my linked comment solves. Please check if you did everything correctly and open a new issue if the problem persists.

[2022-11-08 18:04] morethal opened #243 "bug: FirebaseAuthentication.signInWithFacebook() does not resolve"
**Plugin(s):**

[code]

**Platform(s):**
Android

**Current behavior:**
The promise `await FirebaseAuthentication.signInWithFacebook();` does not resolve.

**Expected behavior:**
It resolves and the user is logged in, or if there is an error, it should be thrown.

**Steps to reproduce/Related code:**
Essentially I followed the sample code:

[code]

Note: While not necessary, I removed all code occ

[2022-11-08 18:10] robingenz commented on #243
Hi @morethal,
please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug the issue.

[2022-11-08 18:34] morethal commented on #243
Thanks for the swift reply. Is there anything you are missing for a repro or is there anything I can check on my side?

I can check if I can create a fresh project and just add the sample code so this can be shared easily.

[2022-11-08 19:56] robingenz commented on #243
Yes, that's what I need.

[2022-11-09 09:43] morethal commented on #243
Thanks, when I created a repro I could see that the repro was actually working as expected. When comparing the differences I could identify that the error seems to be related to:

`implementation "androidx.appcompat:appcompat:1.5.1"`

It works fine with:

`implementation "androidx.appcompat:appcompat:1.4.2"`

When I change the version, it break again.

This seems to be a known bug here:
https://gi

[2022-11-09 09:44] johndoe-glitch commented on #243
Thanks []()

[2022-11-09 09:45] morethal commented on #230
@yaberkane05, you might want to try my answer here: https://github.com/capawesome-team/capacitor-firebase/issues/243#issuecomment-1308481303

[2022-11-09 11:39] robingenz commented on #243
@morethal Thank you for looking into this!

Yes, i will set this version as default version to fix this issue.

[2022-11-09 18:20] co-dax opened #244 "bug: notificationReceived not fired when starting application"
**Plugin(s):**
"@capacitor-firebase/messaging": "^1.1.0",

**Platform(s):**
iOS

**Current behavior:**
Event notificationReceived is not fired on iOS when sending silent notification while application is killed (I am NOT referring to the application running in the background) and then starting the application.
Event notificationReceived is fired as expected if applicaiton is running in the backgro

[2022-11-09 22:31] robingenz commented on #244
Hi @co-dax,
thank you for your request.
I just tested it and was able to reproduce it. The reason for this behavior is that iOS does not fire the responsible listener (`didReceiveRemoteNotification`) when starting the app. It seems that this is the default behavior for iOS.
I also found this [SO thread](https://stackoverflow.com/questions/53154136/didreceiveremotenotification-not-called-when-app-i

[2022-11-10 21:47] #243 closed

[2022-11-10 23:01] co-dax commented on #244
Hi @robingenz,
Thanks for a quick reply. I will keep an eye on this issue for updates.

[2022-11-10 23:08] co-dax opened #247 "bug: notificationActionPerformed not triggered on iOS when application was initially killed"
**Plugin(s):**
"@capacitor-firebase/messaging": "^1.1.0",

**Platform(s):**
iOS

**Current behavior:**
When application is initially killed and a notification message (NOT a data message) is sent to an iOS device then notificationActionPerformed is not fired. It does fire if it is a silent message as well (for some reason...)

**Expected behavior:**
When application is initially killed (that is, n

[2022-11-11 07:33] robingenz commented on #247
Hi @co-dax,
unfortunately I cannot reproduce this. If I close the app completely (kill) and then send a notification and click on it, the `notificationActionPerformed` listener fires as soon as i add the listener. Please test it again with the latest version (`1.2.0`) .

[2022-11-11 07:51] johndoe-glitch commented on #247
- [ ] approved

[2022-11-11 14:50] jaco-terbraak opened #249 "bug: FirebaseMessaging.requestPermissions() always returns 'denied', even if the user presses 'Allow'. Push notifications work fine if the result is ignored"
**Plugin(s):**
@capacitor-firebase/messaging: 1.2.0

**Platform(s):**
iOS 15.4.1 (iPhone 8)

**Current behavior:**
1. Execute `FirebaseMessaging.requestPermissions()`
2. Press 'Allow' on the native iOS dialog that pops up
3. Watch the call return 'denied'
4. Add a 'tokenReceived' listener, and send a push notification to FCM using the received token
5. Close the app, and watch the push notificatio

[2022-11-11 15:30] robingenz commented on #249
Hi @jaco-terbraak,
i can't reproduce the issue:
![grafik](https://user-images.githubusercontent.com/13857929/201372301-3c7b05b8-72c4-49fa-8c63-c98143d5e533.png)

Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

[2022-11-11 16:04] kyleabens commented on #38
any update on adding this?

[2022-11-12 01:47] #65 closed

[2022-11-13 19:10] robingenz opened #252 "feat(authentication): provide the auto-retrieved SMS verification code"
**Is your feature request related to a problem? Please describe:**

See https://github.com/capawesome-team/capacitor-firebase/discussions/251

**Describe the solution you'd like:**

Support https://firebase.google.com/docs/reference/kotlin/com/google/firebase/auth/PhoneAuthCredential#getSmsCode().

**There is also currently a bug which will then be noticed:**
The `onVerificationCompleted` callback

[2022-11-14 20:54] co-dax commented on #247
Thanks, @robingenz.

It turns out I didn't ask for permissions on iOS. On Android it works out of the box without askin for permission as they are allowed by default.

It might be the case to specify requirement to ask for permission on iOS before awaiting notifications.

Thanks again!

[2022-11-14 21:08] robingenz commented on #247
In this case I will close this issue.

[2022-11-14 21:08] #247 closed

[2022-11-14 23:50] Aminerman opened #255 "bug: Login isn't persisted"
**Plugin(s):**
`"@capacitor-firebase/authentication": "^1.2.0"`
Google Authentication

**Platform(s):**
Android (didn't test on iOS)

**Current behavior:**
Login isn't persisted. Whenever the app is closed and opened again, the user is prompted to log in again.

**Expected behavior:**
The user logs in once and he stays logged in even after closing the app

**Steps to reproduce:**
- Log in with goo

[2022-11-15 00:29] Aminerman commented on #255
I actually figured that I had to do this
https://github.com/capawesome-team/capacitor-firebase/blob/main/packages/authentication/docs/firebase-js-sdk.md

Thanks for the great documentation!

[2022-11-15 00:29] #255 closed

[2022-11-15 10:13] robingenz opened #256 "bug(authentication): phone auth does not work with `FirebaseAppDelegateProxyEnabled` enabled"
**Plugin(s):**

- Authentication

**Platform(s):**

- iOS

**Current behavior:**

Phone auth does not work if Firebase Messaging plugin with `FirebaseAppDelegateProxyEnabled` is used at the same time, see: https://github.com/capawesome-team/capacitor-firebase/discussions/254#discussioncomment-4144841

**Expected behavior:**

Phone auth should work with Firebase Messaging plugin with `FirebaseAppDe

[2022-11-16 17:27] juanico18 opened #258 "feat: Firebase Remote config alternative"
I am looking for an alternative to
https://github.com/chemerisuk/cordova-plugin-firebase-config or
https://github.com/capacitor-community/firebase-remote-config that does not support capacitor 4.

Do you have in mind to work on it?

Thanks

[2022-11-16 18:41] robingenz commented on #258
I already work on it (see #240).
I close this issue as duplicate of #9.

[2022-11-16 18:41] #258 closed

[2022-11-16 18:43] robingenz commented on #258
@juanico18 Would you be interested in testing the plugin as soon as it's ready?

[2022-11-16 18:51] #177 closed

[2022-11-16 19:28] robingenz opened #259 "feat: update all (native) SDKs"
- [ ] Update all (native) SDKs.

[2022-11-16 21:24] robingenz commented on #9
Anyone want to test the new plugin? I would like to get some feedback.

[code]
Docs: https://github.com/capawesome-team/capacitor-firebase/blob/feat/issue-9/packages/remote-config/README.md

[2022-11-17 08:49] juanico18 commented on #258
Hi @robingenz Yes, I am interested. Although I am working on migrate from cordova to capacitor a project. So maybe it would take me some time to test.
My fault not review the issues looking for anyone else requiring the feature! I thought I did it

[2022-11-19 11:07] maxojev opened #260 "feat: delete a user"
**Describe the solution you'd like:**
Add a way to delete a user account

**Additional context:**
The RGPD wants to give the possibility to a user to delete his account. Today the plugin API does not allow to delete a user.
The objective of this feature is to allow the authenticated user to delete his account according to the guidelines of the RGPD.

[2022-11-23 14:50] robingenz opened #263 "feat(remote-config): support default values"
**Is your feature request related to a problem? Please describe:**

Default values are currently not officially supported and have to be implemented with a workaournd.

**Describe the solution you'd like:**

It would be great if you don't need this workaround and can tell Firebase Remote Config the default values.
Add a `FirebaseRemoteConfig.setDefaults(...)` method.

**Describe alternatives you'v

[2022-11-23 15:07] #9 closed

[2022-11-23 15:27] #256 closed

[2022-11-23 19:22] #259 closed

[2022-11-25 20:15] yaberkane05 commented on #230
This resolved the problem, thank you !

[2022-11-25 20:17] robingenz commented on #230
Thanks for your help @morethal!
In this case i will close this issue.

[2022-11-25 20:17] #230 closed

[2022-11-26 11:51] jjgriff93 opened #268 "bug: Firebase Analytics - 'FirebaseCore' module not found"
**Plugin(s):**

`CapacitorFirebaseAnalytics:1.2.0`

**Platform(s):**

`iOS`

**Current behavior:**

After installing the plugin following the instructions in the README, i.e. manually specifying `pod 'CapacitorFirebaseAnalytics/Analytics', :path => '../../node_modules/@capacitor-firebase/analytics'` in the Podfile, everything works fine.

However as soon as you do an `npx cap sync ios`, the Podfil

[2022-11-26 11:59] robingenz commented on #268
Capacitor sync only removes the pod if you added it to the wrong block, see: https://github.com/capawesome-team/capacitor-firebase/issues/182#issuecomment-1235225654

Can you share your Podfile before you run Capacitor sync?

[2022-11-27 12:28] jjgriff93 commented on #268
Ah, you're absolutely right, wrong block! Added it to the app block and all good, thank you. So we essentially need the Capacitor-generated pod reference within the usual `capacitor_pods` block as well as our own reference to the Analytics pod subspec.

Just out of curiosity, why is the set-up different to the other packages in this regard? Is it because of the option of the NoAdId subspec? If so

[2022-11-27 14:50] robingenz commented on #268
Great, in this case  i will close this issue.

Yes, it is because of the `AnalyticsWithoutAdIdSupport` subspec.

I had tried this before and there were problems when the pod was listed twice in the podfile (and once it is always added by cap sync). I don't remember exactly what the problem was though.

[2022-11-27 14:50] #268 closed

[2022-11-27 23:56] mcfarljw opened #269 "feat(remote-config): support retrieving JSON-like array and object values"
**Is your feature request related to a problem? Please describe:**
Remote Config allows for storing JSON values like arrays and objects but I don't think currently using the available methods those can be accessed.

![Screenshot 2022-11-27 at 6 52 57 PM](https://user-images.githubusercontent.com/4167341/204166561-dcbb3901-e22b-4cff-a9fe-22b062a1d7ba.png)

![Screenshot 2022-11-27 at 6 54 07 PM](htt

[2022-11-28 01:00] mcfarljw opened #270 "bug(remote-config): activate and fetchAndActivate"
**Plugin(s):**
"@capacitor-firebase/analytics": "^1.2.0"
"@capacitor-firebase/crashlytics": "^1.2.0"
"@capacitor-firebase/performance": "^1.2.0"
"@capacitor-firebase/remote-config": "^1.2.0-dev.8dd4ad6.1668633721"

**Platform(s):**
Android

**Current behavior:**
Calling `activate` or `fetchAndActivate` returns the success callback but the `result.booleanValue()` is `false` and since it hasn't been

[2022-11-28 02:03] mcfarljw commented on #270
After a bit more digging I noticed that wrapping my call to `fetchNumber` in a `setTimeout` seems to load as expected. So it kind of works though I would expect it to be available immediately after `fetchAndActivate` returns successful. Seems like some kind of race condition might be going on here but I'm not sure.

[code]

[2022-11-28 07:01] robingenz commented on #270
Thanks for the issue. Please try it again with the latest dev version (see npm) and let me know if the problem persists.

[2022-11-28 07:03] robingenz commented on #270
Thank you for the issue. I will take a look.

[2022-11-28 08:57] robingenz commented on #269
Thank you for your request!
Yes, this feature is currently missing and will be added in the next version.
As workaround you should be able to get the data using `getString`. Just make sure you use the "stringified" version of your value:

[code]

[2022-11-28 09:26] robingenz commented on #270
Regarding the `success` value:

[Source](https://firebase.google.com/docs/reference/android/com/google/firebase/remoteconfig/FirebaseRemoteConfig#fetchAndActivate())

So you already had the up-to-date configs.

[2022-11-28 20:12] mcfarljw commented on #269
Good to know that `getString` can be used as a workaround. I just tested it and was able to get both arrays and objects using the following:

[code]

[2022-11-29 10:34] yaberkane05 commented on #260
if you're using skipNativeAuth, you can use firebase JS SDK to re-authenticate the user and delete his account.

[2022-11-30 20:32] #224 closed